﻿
@{
    ViewBag.Title = "alerts";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container">
    <div class="blockRow">
        <div class="row">
            <div class="col-mg-4">
                @TempData["RegisterResult"]
            </div>
            <div class="col-mg-8"></div>
        </div>
    </div>
</div>
