﻿@model RavadGarWebSite.Models.ViewModels.UserDataViewModel
@if (@Model != null)
{
    <span class="icon" style="line-height:20px;">
        <i class="fa fa-user" aria-hidden="true"></i>
    </span>
    <span class="line1">
        <a href="/user/Index"><span>@Model.FName</span>&nbsp;<span>@Model.LName</span></a>
        <br><span class="nyekan">
            <a href="/user/Index">پنل کاربری</a>
        </span>
    </span>
}
else
{
    <span class="icon" style="line-height:20px;">
        <i class="fa fa-sign-in" aria-hidden="true"></i>

        <i class="fa fa-user-plus" aria-hidden="true"></i>

    </span>
    <span class="line1">
        <a href="/login/login">ورود</a>
    <br><span class="nyekan">
            <a href="/home/signup">ثبت نام</a>
        </span></span>
}
