﻿
@{
    ViewBag.Title = "وب سایت فروشگاه روادگر - بدمینتون -اسکواش - تنیس - پینگ پونگ";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/layerslider/layerslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
}


<script src="~/resources/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="~/resources/js/layerslider/greensock.js"></script>
<script src="~/resources/js/layerslider/layerslider.kreaturamedia.jquery.js"></script>
<script src="~/resources/js/layerslider/layerslider.transitions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#layerslider').layerSlider({
            autoStart: true,
            firstLayer: 1,
            responsive: true
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="slideShowDiv">
                <div id="layerslider">
                    <!-- slide -->
                    <div class="ls-slide" data-ls="slidedelay: 4000; transition2d: 2,7,9;">
                        <img src="~/resources/images/slides/slide1.jpg" class="ls-bg" />
                    </div>
                    <!-- slide -->
                    <div class="ls-slide" data-ls="slidedelay: 4000; transition2d: 2,7,9;">
                        <img src="~/resources/images/slides/slide2.jpg" class="ls-bg" />
                    </div>
                    <!-- slide -->
                    <div class="ls-slide" data-ls="slidedelay: 4000; transition2d: 2,7,9;">
                        <img src="~/resources/images/slides/slide3.jpg" class="ls-bg" />
                    </div>
                </div>
            </div>
        </div>
        <div id="importantTexts" class="col-md-4 rightBorder bg-white">
            <br /><br /><br />
            <img id='hwlahwlaxlapsguidrft' style='cursor:pointer' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=44301&p=odshodshfuixdrfsnbpd", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=44301&p=aodsaodsvjymgthvlznb' />
        </div>
    </div>
    <div class="row">
        <div id="rightc" class="col-md-4">
            <div class="rollProductsMainDiv block">
                <div class="right-blocks-title">
                    <h2>انتخاب راکت</h2>

                    <div class="clearb"></div>

                </div>
                <div class="paneBody">
                    @Html.Action("SearchInRockets", "Product", new { top = 5 })
                </div>
            </div>
            <div class="rollProductsMainDiv block" id="peoplarPrds">
                <div class="right-blocks-title">
                    <h2>آخرین اخبار</h2>
                    <a class="showalllink" href="/News/All" title="محصولات جدید">مشاهده همه</a>
                    <div class="clearb"></div>

                </div>
                <div class="paneBody">
                    @Html.Action("GetLastNewsCol", "News", new { top = 5 })
                </div>
            </div>
            <div class="rollProductsMainDiv block" id="peoplarPrds">
                <div class="right-blocks-title">
                    <h2>آخرین مقالات</h2>
                    <a class="showalllink" href="#" title="محصولات جدید">مشاهده همه</a>
                    <div class="clearb"></div>

                </div>
                <div class="paneBody">
                    @Html.Action("GetLastArticlesCol", "Article", new { top = 5 })
                </div>
            </div>

        </div>
        <div id="leftc" class="col-md-8">
            <div class="row">

                <div id="categoriesImage" class="col-md-12 block">
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/12/راکت تنیس">
                            <img src="~/resources/images/products/tenis.jpg" />
                            <h2>راکت تنیس</h2>
                        </a>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/6/راکت بدمینتون">
                            <img src="~/resources/images/products/badminton.jpg" />
                            <h2>راکت بدمینتون</h2>
                        </a>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/10/راکت اسکواش">
                            <img src="~/resources/images/products/squash.jpg" />
                            <h2>راکت اسکواش</h2>
                        </a>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">

                        <img src="~/resources/images/products/balls.jpg" />
                        <h2> انواع توپ</h2>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/5/کفش بدمینتون">
                            <img src="~/resources/images/products/shoes.jpg" />
                            <h2>  کفش ورزشی</h2>
                        </a>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/7/لباس ورزشی مردانه">
                            <img src="~/resources/images/products/mens.jpg" />
                            <h2>  لباس ورزشی مردانه</h2>
                        </a>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/1032/لباس ورزشی زنانه">
                            <img src="~/resources/images/products/womens.jpg" />
                            <h2>  لباس ورزشی زنانه</h2>
                        </a>
                    </div>
                    <div class="cImages col-md-3 col-xs-4">
                        <a href="/search/22/ساک ورزشی ">
                            <img src="~/resources/images/products/bag.jpg" />
                            <h2>  ساک ورزشی</h2>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="colorBar row">
                <div class="col-md-12" style="text-align:center">
                    <img style="display:inline-block;" src="~/resources/images/logoes/adidas-logo-bts.jpg" />
                    <a href="http://ravadgar.com/search/17/راکت یونکس">
                        <img style="display:inline-block;" src="~/resources/images/logoes/afd-61516.jpg" />
                    </a>
                    <a href="http://ravadgar.com/search/1040/راکت HEAD">
                        <img style="display:inline-block;" src="~/resources/images/logoes/head-logo-2-page-001.jpg" />
                    </a>
                    <a href="http://ravadgar.com/search/18/راکت مکس">
                        <img style="display:inline-block;" src="~/resources/images/logoes/maxpower-logo-small.jpg" />
                    </a>
                    <a href="http://ravadgar.com/search/1042/راکت BABOLAT">
                        <img style="display:inline-block;" src="~/resources/images/logoes/Wilson-sports_logo.jpg" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="rollProductsMainDiv block" id="mostSellers">
                    <div class="right-blocks-title">
                        <h2>محصولات جدید</h2>
                        <div class="right-blocks-arrows">
                            <div class="rightarr"></div>
                            <div class="leftarr"></div>
                        </div>
                        <a class="showalllink" href="#" title="محصولات جدید">مشاهده همه</a>
                        <div class="clearb"></div>

                    </div>
                    <div class="rollProductsBodyDiv">
                        <div class="rollProductsScrollDiv">
                            @Html.Action("GetTopNewProducts", "Product", new { top = 20 })
                        </div>
                    </div>
                </div>
                <div class="rollProductsMainDiv block" id="peoplarPrds">
                    <div class="right-blocks-title">
                        <h2>پرفروش ترین ها</h2>
                        <div class="right-blocks-arrows">
                            <div class="rightarr"></div>
                            <div class="leftarr"></div>
                        </div>
                        <a class="showalllink" href="#" title="محصولات جدید">مشاهده همه</a>
                        <div class="clearb"></div>

                    </div>
                    <div class="rollProductsBodyDiv">
                        <div class="rollProductsScrollDiv">
                            @Html.Action("GetTopSellerProducts", "Product", new { top = 20 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".fancyBox").fancybox({
            'width': '80%',
            'height': '90%',
            'autoScale': false,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'iframe'
        }
        );
    });
</script>