﻿@model RavadGarWebSite.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "signup";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/mgwvalidator.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/mgwvalidator.js"></script>
<div class="container">
    <div class="row">
        <div class="blockRow">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4 style="text-align:center;">ثبت نام کاربر</h4>
                    <br />
                    <form id="register" name="register" class="form-horizontal" action="~/home/Register" role="form" method="post">
                    
                        <div class="form-group">
                            <label class="control-label col-sm-2">نام:</label>
                            <div class="col-sm-10">
                                <input type="text" id="Fname" data-mgwvalidator="required" name="FName" class="form-control" placeholder="نام خود را وارد کنید">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">نام خانوادگی:</label>
                            <div class="col-sm-10">
                                <input type="text" name="LName"  data-mgwvalidator="required"  id="LName" class="form-control" placeholder="نام خانوادگی را وارد کنید">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">ایمیل:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Email"  id="Email" class="form-control"  data-mgwvalidator="required,email,checkMail" placeholder="ایمیل خود را وارد کنید">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">شماره تلفن:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Tel" id="Tel" data-mgwvalidator="required"  class="form-control" placeholder="تلفن خود را وارد کنید">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">شماره موبایل:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Mobile" data-mgwvalidator="required"   id="Mobile" class="form-control" placeholder="موبایل خود را وارد کنید">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">رمز عبور:</label>
                            <div class="col-sm-10">
                                <input type="password" name="PassWord" data-mgwvalidator="required"  id="PassWord" class="form-control" placeholder="رمز عبور را وارد کنید">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">تکرار رمز عبور:</label>
                            <div class="col-sm-10">
                                <input type="password" name="ConfirmPassword"  data-mgwvalidator="required,repeatEqual[PassWord]"  id="ConfirmPassword" class="form-control" placeholder="تکرار رمز عبور را وارد کنید">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">تصویر امنیتی:</label>
                            <div class="col-sm-10">
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="submitBtn" type="submit" class="btn btn-default">ثبت نام</button>
                            </div>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).on("click", "#submitBtn", function () {
        if (!$("#register").validation()) {
            return false;
        }
    });
    $(document).ready(function () {
        isRtl = true;
        validateOnBlur("#register");

    })
</script>
