﻿@model IEnumerable<RavadGarWebSite.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/resources/css/ion-rangeSlider/normalize.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/resources/css/ion-rangeSlider/ion.rangeSlider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/ion-rangeSlider/ion.rangeSlider.skinFlat.css")" rel="stylesheet" type="text/css" />
}
<script>
    var obj = {};
    @foreach (var d in Model)
     {
         @:obj["@d.PCode"] = {};
        @:obj["@d.PCode"].ProductFeatures = [];
            @:obj["@d.PCode"].image = "@d.Image";
             @:obj["@d.PCode"].PFName = "@d.PFName";
              @:obj["@d.PCode"].Price = "@d.Price";
             foreach (var item in d.ProductFeatures)
         {
                @:obj["@d.PCode"].ProductFeatures.push(["@item.FeatureFName", "@item.FeatureValue"]);
                 }

        }
</script>
<script src="~/resources/js/ion-rangeSlider/ion.rangeSlider.js"></script>
<script src="~/resources/js/search.js"></script>
<div class="container" id="searchPage">
    <div class="row">
        <div class="col-md-3">
            <div class="blockRow">
                <p class="bigTitr">انتخاب پیشرفته:</p>
                <div class="searchFilters" style="direction:ltr;">
                    <p style="direction:rtl;">براساس قیمت:</p>
                    <input type="text" id="priceRange" name="example_name" value="" />
                </div>
                <div class="searchFilters">
                    <p style="direction:rtl;">براساس برند:</p>
                    ندارد
                </div>
                <div class="searchFilters">
                    <p style="direction:rtl;">براساس زیردسته:</p>
                    ندارد
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="blockRow">
                <div class="row" id="productList">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-3">
                                <div class="productBox">
                                    <a href="~/product/@item.PCode/@item.PFName.Replace(' ','-')">
                                        <img class="img-responsive" src="~/productimages/ThumbNail/@item.Image" alt="@item.PFName" />
                                        <div class="bottomPart">
                                            @*@item.PFName.Substring(0, (@item.PFName.Length > 30) ? 30 : @item.PFName.Length)*@
                                            <p class="pTitr">@item.PFName</p>
                                            <p class="price">@Convert.ToDecimal(item.Price).ToString("#,##") &nbsp;تومان</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>



