﻿@model RavadGarWebSite.Models.Page
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container" id="productView">
    <div class="col-md-12">
        <div class="blockRow">
            <div class="row">
                <div class="col-md-12 texts">
                    @if(Model !=null){
                    <p>@Model.Title</p>
                    <div>
                        @Html.Raw(Model.PageContent)
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

