﻿@model RavadGarWebSite.Models.Admin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-12 body">
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    <h4 style="margin-right:20px;">فرم ورود ادمین</h4>
                    <br />
                    @Html.ValidationSummary("")
                    <div style="padding-top:10px;text-align:center;margin-bottom:50px;" class="body">
                        <div class="form-group col-md-4 col-md-offset-4">
                            <label>نام کاربری</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required txtbox" })
                        </div>
                        <div class="form-group col-md-4 col-md-offset-4">
                            <label>پسورد</label>
                            @Html.PasswordFor(m => m.PassWord, new { @class = "form-control required txtbox" })
                        </div>

                        <div class="form-group col-md-4 col-md-offset-4">
                            <input type="submit" value="ورود" class="btn btn-success" style="padding:10px 40px" />
                        </div>
                    </div>
            }
            </div>
        </div>
    </div>
</div>

