﻿
@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Models
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container">
    <div class="blockRow">
        <div class="row">
            <div class="form-group col-md-offset-3" style="color:red">
                <p>@TempData["InvalidUP"]</p>
            </div>
            <form id="login" name="register" action="/Login/userlogin" method="get">
                <div class="form-group col-md-4 col-md-offset-4">
                    <label>ایمیل :</label>

                    <input class="form-control txtbox ltr required borderRed" type="text" maxlength="50" name="username" tabindex="1" lang="en" dir="ltr" align="right" style="text-align: right; direction: rtl;"><sup id="1" class="sup" style="display: none;"> * </sup>
                </div>
                <div class="form-group col-md-4 col-md-offset-4">
                    <label>رمز عبور :</label>
                    <input class="form-control txtbox ltr required" name="password" type="password" maxlength="20" tabindex="2" oncopy="return false" onpaste="return false"><sup id="5" class="sup" style="display: none;"> * </sup>
                </div>
                <div class="form-group col-md-4 col-md-offset-4">
                    
                    @Html.Captcha(5, "~/Views/shared/CaptchaView.cshtml")
                    <span style="color:red">
                        @TempData["CaptchaError"]
                    </span>
                </div>

                <div class="form-group col-md-4 col-md-offset-4">
                    <input class="btn btn-success" type="submit" id="userlogin" value="ورود">
                </div>
            </form>
        </div>
    </div>
</div>

