﻿@model IEnumerable<RavadGarWebSite.Models.Article>



<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="#" class="smallArticleImage">
                <img src="~/uploadedimages/articles/ThumbNail/@item.Image">
            </a>
            <a href="/Article/@item.ArticleCode" class="articleTitle">@item.ArticleTitle</a>
            <br>
            <span class="date">@item.InsertDateTime.Day - @item.InsertDateTime.Month - @item.InsertDateTime.Year</span>
            <div class="clearb"></div>
        </li>

    }
</ul>



