﻿@model List<RavadGarWebSite.Models.ViewModels.ArticleViewModel>

<ul class="Article_list">
    @foreach (var item in Model)
    {
        <li>
            <div class="productRadiusedBorder">
                <div class="topPart">
                    @if (item.Image != null)
                    {
                        <img src="~/productimages/ThumbNail/@item.Image" />
                    }
                    else
                    {
                        <img src="~/resources/images/racket.jpg" />
                    }

                </div>
                <div class="bottomPart">
                    <p class="price">@item.ArticleCode</p>
                    <p>@item.InsertDateTime</p>
                    <p class="name">@item.ArticleTitle</p>
                    <p>@item.Visits</p>
                    <div class="bottons">
                        <a class="button-radius btn-add-cart" title="اضافه به سبد خرید" href="#">بازدید<span class="icon"></span></a>
                        <a class="viewMore" title="»شاهده جزئیا" href="#">متن کامل مقاله<span class="more"></span></a>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>