﻿@model List<RavadGarWebSite.Models.News>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}
<div class="container" id="productView">
    <div class="row">
        <div class="col-md-8">
            <div class="blockRow">

                @foreach (var item in Model)
            {
                    <a href="#" class="smallArticleImage">
                        <img src="~/uploadedimages/news/ThumbNail/@item.Image">
                    </a>
                    <a href="/news/@item.NewsCode" class="articleTitle">@item.NewsTitle</a>
                    <br>
                    <span class="date">@item.InsertDateTime.Day - @item.InsertDateTime.Month - @item.InsertDateTime.Year</span>
                    <div class="clearb"></div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="rollProductsMainDiv block" id="peoplarPrds">
                <div class="right-blocks-title">
                    <h2>آخرین مقالات</h2>
                    <a class="showalllink" href="#" title="محصولات جدید">مشاهده همه</a>
                    <div class="clearb"></div>

                </div>
                <div class="paneBody">
                    @Html.Action("GetLastArticlesCol", "Article", new { top = 5 })
                </div>
            </div>
        </div>
    </div>
</div>

