﻿@model IEnumerable<RavadGarWebSite.Models.News>



<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="#" class="smallArticleImage">
                <img src="~/uploadedimages/news/ThumbNail/@item.Image">
            </a>
            <a href="/news/@item.NewsCode" class="articleTitle">@item.NewsTitle</a>
            <br>
            <span class="date">@item.InsertDateTime.Day - @item.InsertDateTime.Month - @item.InsertDateTime.Year</span>
            <div class="clearb"></div>
        </li>

    }
</ul>



