﻿@model RavadGarWebSite.Models.News

@{
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container" id="productView">
    <div class="col-md-8">
        <div class="blockRow">
            <div class="row">
                <div class="col-md-12 texts">
                    <h1 id="titr">@Model.NewsTitle</h1>
                    <div class="smallInfo">
                        <span class="priceTitr">تاریخ درج خبر:</span>
                        <span class="priceValue price">@Model.InsertDateTime</span>
                        <span class="priceTitr">کد خبر:</span>
                        <span class="priceValue price">@Model.NewsCode</span>
                    </div>
                    <hr style="margin:7px;" />
                    <div>
                        <p>
                            <img class="bigImage img-responsive" alt=@Model.NewsTitle title=@Model.NewsTitle src="~/uploadedimages/news/ThumbNail/@Model.Image" />
                            @Html.Raw(Model.Summary)
                        </p>
                    </div>
                    <div class="buy">
                        <p>@Html.Raw(Model.NewsContent)</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="rollProductsMainDiv block" id="peoplarPrds">
            <div class="right-blocks-title">
                <h2>آخرین اخبار</h2>
                <a class="showalllink" href="#" title="تمام اخبار">مشاهده همه</a>
                <div class="clearb"></div>

            </div>
            <div class="paneBody">
                @Html.Action("GetLastNewsCol", "News", new { top = 5 })
            </div>
        </div>
    </div>

</div>

