﻿
@{
    ViewBag.Title = "AddNews";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/resources/css/admin/bootstrap.vertical-tabs.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/admin/jqueryui/jquery-ui-1.9.2.custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/plupload/js/plupload.customize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/admin/jstree/proton/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/bootstrap-datepicker.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/admin/jstree/jstree.min.js"></script>
<script src="~/resources/js/plupload/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="~/resources/js/plupload/js/plupload.full.min.js"></script>
<script src="~/resources/js/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script src="~/resources/js/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script src="~/resources/js/plupload/js/i18n/fa.js"></script>
<script src="~/resources/plugins/tinymce/tinymce.min.js"></script>
<script src="~/resources/js/bootstrap-datepicker.min.js"></script>
<script src="~/resources/js/bootstrap-datepicker.fa.min.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: '#ArticleDisc',
        height: 200,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
    tinymce.init({
        selector: '#ArticleSummary',
        height: 200,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>
<div>
    <div class="box">
        <div class="body">

            <div class="row" style="padding:20px;">
                <div class="col-xs-2">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#basicsTab" data-toggle="tab">مقاله</a></li>
                        <li><a href="#imagesTab" data-toggle="tab">تصاویر مقاله</a></li>
                    </ul>
                </div>

                <div class="col-xs-8">
                    <!-- Tab panes -->
                    @*<form class="form-horizontal" role="form">*@
                    <div class="tab-content">

                        <div class="tab-pane active" id="basicsTab">
                            <form class="form-horizontal" role="form" id="ArticleData">

                                <div class="form-group">
                                    <label class="control-label col-sm-2">تیتر مقاله:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="ArticleTitle" placeholder="تیتر مقاله را وارد کنید">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">انتخاب موضوع</label>
                                    <div class="col-sm-10">
                                        <select name="Category" id="ArticleCategory"></select>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label col-sm-2">تاریخ ثبت :</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="InsertDateTime" class="form-control" name="InsertDateTime">
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label col-sm-2">خلاصه مقاله </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" name="Summary" id="ArticleSummary"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">متن کامل</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" name="ArticleContent" id="ArticleDisc"></textarea>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="tab-pane" id="imagesTab">
                            <form class="form-horizontal" role="form" id="NewsImages">
                                <div id="uploader">
                                    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div style="border-top:1px solid #ccc;padding-top:10px;" class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="addBtn" class="btn btn-default">ذخیره و ادامه</button>
                            <button type="submit" id="addAndExitBtn" class="btn btn-default">ذخیره</button>
                            <button type="submit" id="cancelBtn" class="btn btn-default">انصراف</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("/Admin/GetArticlesCategories", function (data) {
            data = JSON.parse(data);
            for (var i = 0; i < data.length; i++) {
                $("#ArticleCategory").append("<option value='" + data[i].CategoryName + "'>" + data[i].CategoryName + "</option>");
            }
        });
    });
</script>
<script type="text/javascript">
    // Initialize the widget when the DOM is ready
    var currentStep = 0;
    var uploadedFiles = [];
    var imgList = {};
    var filesList = [];
    $(document).ready(function () {
        $('#InsertDateTime').datepicker();

        $(function () {
            $("#uploader").plupload({
                // General settings
                runtimes: 'html5,flash,silverlight,html4',
                url: "/Admin/ArticleImageUploader",

                // Maximum file size
                max_file_size: '2mb',

                chunk_size: '2mb',

                // Specify what files to browse for
                filters: [
                    { title: "Image files", extensions: "jpg,gif,png" },
                    { title: "Zip files", extensions: "zip,avi" }
                ],

                // Rename files by clicking on their titles
                rename: true,

                // Sort files
                sortable: true,

                // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
                dragdrop: true,

                // Views to activate
                views: {
                    list: true,
                    thumbs: true, // Show thumbs
                    active: 'thumbs'
                },

                // Flash settings
                flash_swf_url: '/plupload/js/Moxie.swf',

                // Silverlight settings
                silverlight_xap_url: '/plupload/js/Moxie.xap',
                init: {
                    UploadComplete: function (up, files) {
                        for (var i = 0; i < files.length; i++) {
                            //imgList["ImageLink"] = files[i].name;
                            //uploadedFiles.push(imgList);
                        }
                    },
                    FileUploaded: function (up, file, info) {
                        var xx = {};
                        xx["ID"] = info.response;
                        filesList.push(xx);
                    }
                }
            });
        });
    })


    $(document).on("click", "#cancelBtn", function () {
        return false;
    });
    $(document).on("click", "#addAdExitBtn", function () {
        return false;
    });
    $(document).on("click", "#addBtn", function () {
        if (currentStep == 0) {
            showLoadingOn(".box");
            tinyMCE.triggerSave();
            obj = funjs_getFormObject("ArticleData");
            var obj2 = {};
            obj2["ArticleTitle"] = obj["ArticleTitle"];
            obj2["Summary"] = obj["Summary"];
            obj2["ArticleContent"] = obj["ArticleContent"];
            obj2["Category"] = obj["Category"];
            console.log(obj2);

            obj2["ArticleImages"] = filesList;
            console.log(obj2);
            funjs_sendObjectToServer("/admin/AddArticle", obj2);
            hideLoadingOn(".box");
        }
        return false;

    });
    $(document).on("click", "#cancelBtn", function () {
        return false;
    });

</script>



