﻿@model RavadGarWebSite.Models.ViewModels.ProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/admin/bootstrap.vertical-tabs.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/admin/jqueryui/jquery-ui-1.9.2.custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/plupload/js/plupload.customize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/admin/jstree/proton/style.css")" rel="stylesheet" type="text/css" />
    <style>
        #fResults ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            padding-top: 10px;
        }

            #fResults ul li {
                margin-top: 7px;
                color: #7a7a7a;
            }

                #fResults ul li img {
                    width: 30px;
                    height: 30px;
                }

        #cResults ul {
            list-style: outside none none;
            margin: 0;
            padding: 10px 0 0;
        }
    </style>
}
<script src="~/resources/js/admin/jstree/jstree.min.js"></script>
<script src="~/resources/js/plupload/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="~/resources/js/plupload/js/plupload.full.min.js"></script>
<script src="~/resources/js/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script src="~/resources/js/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script src="~/resources/js/plupload/js/i18n/fa.js"></script>
<script src="~/resources/plugins/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#productDisc',
        height: 200,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
    tinymce.init({
        selector: '#productSummary',
        height: 200,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>
<div>
    <div class="box">
        <div class="body">
            <div class="row" style="padding:20px;">
                <div class="col-xs-2">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#basicsTab" data-toggle="tab">مشخصات عمومی کالا</a></li>
                        <li><a href="#featuresTab" data-toggle="tab">ویژگی های کالا</a></li>
                        <li><a href="#combinationTab" data-toggle="tab"> ترکیبات کالا</a></li>
                        <li><a href="#imagesTab" data-toggle="tab">تصاویر محصول</a></li>

                    </ul>
                </div>
                <div class="col-xs-10">
                    <!-- Tab panes -->
                    @*<form class="form-horizontal" role="form">*@
                    <div class="tab-content">
                        <div class="tab-pane active" id="basicsTab">
                            <form class="form-horizontal" role="form" id="productData">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">نام انگلیسی کالا:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="PEName" placeholder="نام انگلیسی کالا را وارد کنید">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">نام فارسی کالا:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="PFName" placeholder="نام فارسی کالا را وارد کنید">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">انتخاب دسته بندی</label>
                                    <div class="col-sm-10">
                                        <div id="jstree"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">قیمت کالا:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Price" placeholder="قیمت کالا را به تومان وارد کنید">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">تعداد موجودی انبار:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="Number" placeholder="موجودی انبار را به عدد وارد کنید">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">جنسیت:</label>
                                    <div class="col-sm-10">
                                        <input type="radio" name="Gender" value="0"> مردانه
                                        &nbsp;
                                        <input type="radio" name="Gender" value="1"> زنانه
                                        &nbsp;
                                        <input type="radio" checked name="Gender" value="2"> هردو
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">فعال</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" id="Active" name="Active" checked />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">توضیحات مختصر</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" name="Description" id="productSummary"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">توضیحات کامل</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" name="FullDescription" id="productDisc"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="featuresTab">
                            <form class="form-horizontal" role="form" id="productFeat">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">نام ویژگی:</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" id="fetName" class="form-control" name="FeatureFName" placeholder="نام ویژگی">
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">مقدار ویژگی:</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" id="fetValue" class="form-control" name="FeatureValue" placeholder="مقدار">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" id="submitFeature" class="btn btn-default">ثبت</button>
                                    </div>
                                </div>
                                <div id="fResults" style="padding:10px 0px 10px 0px;min-height:100px;">
                                    <ul></ul>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="combinationTab">
                            <form class="form-horizontal" role="form" id="productCom">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label class="control-label">نام ترکیب:</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" id="combName" class="form-control" name="CombinationName" placeholder="نام ترکیب">
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">مقدار ترکیب:</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" id="combValue" class="form-control" name="CombinationValue" placeholder="مقدار">
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">موجودی:</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" id="combNumber" class="form-control" name="CombinationNumber" placeholder="مقدار">
                                    </div>
                                    <div class="col-md-1">
                                        <label class="control-label">قیمت:</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" style="display:inline-block;width:90px;" id="combPrice" class="form-control" name="CombinationPrice" placeholder="مقدار">
                                        <button type="submit" id="submitcomb" class="btn btn-default">ثبت</button>

                                    </div>

                                </div>

                                <div id="cResults" style="padding:10px 0px 10px 0px;min-height:100px;">
                                    <ul></ul>
                                </div>

                            </form>
                        </div>

                        <div class="tab-pane" id="imagesTab">
                            <form class="form-horizontal" role="form" id="productImages">
                                <div id="uploader">
                                    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="border-top:1px solid #ccc;padding-top:10px;" class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="addBtn" class="btn btn-default">ذخیره و ادامه</button>
                            <a href="/Admin/Products" id="cancelBtn" class="btn btn-default">انصراف</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Initialize the widget when the DOM is ready
    var currentStep = 0;
    var uploadedFiles = [];
    var imgList = {};
    var filesList = [];
    $(document).ready(function () {

        $(function () {
            $("#uploader").plupload({
                // General settings
                runtimes: 'html5,flash,silverlight,html4',
                url: "/Admin/ProductImageUploader",

                // Maximum file size
                max_file_size: '2mb',

                chunk_size: '2mb',

                // Specify what files to browse for
                filters: [
                    { title: "Image files", extensions: "jpg,gif,png" },
                    { title: "Zip files", extensions: "zip,avi" }
                ],

                // Rename files by clicking on their titles
                rename: true,

                // Sort files
                sortable: true,

                // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
                dragdrop: true,

                // Views to activate
                views: {
                    list: true,
                    thumbs: true, // Show thumbs
                    active: 'thumbs'
                },

                // Flash settings
                flash_swf_url: '/plupload/js/Moxie.swf',

                // Silverlight settings
                silverlight_xap_url: '/plupload/js/Moxie.xap',
                init: {
                    UploadComplete: function (up, files) {
                        for (var i = 0; i < files.length; i++) {
                            //imgList["ImageLink"] = files[i].name;
                            //uploadedFiles.push(imgList);
                        }
                    },
                    FileUploaded: function (up, file, info) {
                        var xx = {};
                        xx["ID"] = info.response;
                        filesList.push(xx);
                    }
                }
            });
        });
    })

    $(document).ready(function () {
        $("#submitFeature").click(function () {
            $("#fResults ul").append("<li><div class='row'>" +
               "<div class='col-md-2'>" +
                                        "<label class='control-label'>نام ویژگی:</label>" +
                                    "</div>" +
                                    "<div class='col-sm-3'>" +
                                        "<input type='text' class='form-control' value='" + $("#fetName").val() + "' name='FeatureFName'>" +
                                   "</div>" +
                                    "<div class='col-md-2'>" +
                                        "<label class='control-label'>مقدار ویژگی:</label>" +
                                   "</div>" +
                                    "<div class='col-sm-3'>" +
                                        "<input type='text' class='form-control' value='" + $("#fetValue").val() + "' name='FeatureValue'>" +
                                    "</div>" +
                                    "<div class='col-md-2'><img class='removeRow' src='/resources/images/remove-icon.png' /></div></li></div>"
                );
            return false;
        });
        $("#submitcomb").click(function () {
            $("#cResults ul").append("<li><div class='row'>" +
              '<div class="col-md-1">' +
               '<label class="control-label">نام ترکیب:</label></div>' +
                '<div class="col-sm-2">' +
              '<input type="text" id="combName" class="form-control" value=' + $("#combName").val() + ' name="CombinationName" placeholder="نام ترکیب"></div>' +
               '<div class="col-md-1">' +
               '<label class="control-label">مقدار ترکیب:</label></div>' +
                '<div class="col-sm-2">' +
                '<input type="text" id="combValue" class="form-control" value=' + $("#combValue").val() + ' name="CombinationValue" placeholder="مقدار"></div>' +
                '<div class="col-md-1">' +
                '<label class="control-label">موجودی:</label></div>' +
                 '<div class="col-sm-1">' +
                  '<input type="text" id="combNumber" class="form-control" value=' + $("#combNumber").val() + ' name="CombinationNumber" placeholder="مقدار"></div>' +
                  '<div class="col-md-1">' +
                  '<label class="control-label">قیمت:</label></div>' +
                  '<div class="col-md-3"><input type="text" value="' + $("#combPrice").val() + '" style="display:inline-block;width:90px;" id="combValue" class="form-control" name="CombinationPrice" placeholder="مقدار"><img class="removeRow" src="/resources/images/remove-icon.png"/></div></li></div>'


                );
            return false;
        });

        $(document).on("click", ".removeRow", function () {
            $(this).parent().parent().parent().remove();
        });
    });
    $(document).on("click", "#cancelBtn", function () {
        return false;
    });
    $(document).on("click", "#addAdExitBtn", function () {
        return false;
    });
    $(document).on("click", "#addBtn", function () {
        jsList = $("#jstree").jstree(true).get_selected();
        var jstreeSelectedArray = [];
        for (var i = 0; i < jsList.length; i++) {
            jstreeSelectedArray.push({ 'CategoryID': jsList[i].split("_")[1] });
        }
        console.log(jstreeSelectedArray);
        if (currentStep == 0) {
            showLoadingOn(".box");
            tinyMCE.triggerSave();
            obj = funjs_getFormObject("productData");
            var obj2 = {};
            obj2["Active"] = obj["Active"];
            obj2["ProductCategories"] = jstreeSelectedArray;
            obj2["Number"] = obj["Number"];
            obj2["PFName"] = obj["PFName"];
            obj2["PEName"] = obj["PEName"];
            obj2["Price"] = obj["Price"];
            obj2["Description"] = obj["Description"];
            obj2["FullDescription"] = obj["FullDescription"];
            obj2["gender"] = $('input[name=gender]:checked').val();
            console.log(obj2);
            var currentFeature = "";
            var featureObj = [];
            var combObj = [];

            $("#fResults").find("input").each(function (index) {
                fieldName = $(this).attr("name");
                fieldValue = $(this).val();
                var tempobj = {};
                if (fieldName == "FeatureFName") {
                    currentFeature = fieldValue;
                }
                else if (fieldName == "FeatureValue") {
                    tempobj["FeatureFName"] = currentFeature;
                    tempobj["FeatureValue"] = fieldValue;
                    featureObj.push(tempobj);
                }
            });

            obj2["ProductFeatures"] = featureObj;
            var cmbName = "";
            var cmbValue = "";
            var cmbNumber = "";
            $("#cResults").find("input").each(function (index) {
                fieldName = $(this).attr("name");
                fieldValue = $(this).val();
                var tempobj = {};
                
                if (fieldName == "CombinationName")
                    cmbName = fieldValue;
                else if (fieldName == "CombinationValue")
                    cmbValue = fieldValue;
                else if (fieldName == "CombinationNumber")
                    cmbNumber = fieldValue;
                else if (fieldName == "CombinationPrice") {
                    tempobj["CombinationName"] = cmbName;
                    tempobj["CombinationValue"] = cmbValue;
                    tempobj["CombinationNumber"] = cmbNumber;
                    tempobj["CombinationPrice"] = fieldValue;
                    combObj.push(tempobj);
                }

                
                //if (fieldName == "CombinationName" || fieldName == "CombinationValue" || fieldName == "CombinationPrice" || fieldName == "CombinationNumber") {
                //    currentFeature = fieldValue;

                
                //}


            });

            obj2["ProductCombinations"] = combObj;
            obj2["productImages"] = filesList;
            var r=funjs_sendObjectToServer("/admin/AddProduct", obj2);
            hideLoadingOn(".box");
            if (r["result"] == "Successful") {
                alert("محصول با موفقیت ثبت گردید");
                window.location.href = "/Admin/Products";
            }
        }
        return false;

    });


    var treeString = "";
    $(document).ready(function () {
        var ret = funjs_sendObjectToServer("/admin/GetCategories");
        insertLi(ret, "1");
        $("#jstree").append(treeString);
        $('#jstree').jstree({
            "plugins": ["checkbox"],
            'checkbox': {
                "three_state": false,
                'cascade': ""
            },
            'core': {
                'themes': {
                    'name': 'proton',
                    'responsive': true
                }
            }
        });

    });
    function insertLi(data, parentId) {
        treeString += "<ul>";
        $.each(data, function (k, v) {
            if (data[k]["ParentCategoryID"] == parentId) {
                treeString += ("<li id='node_" + data[k]["CategoryID"] + "'>" + data[k]["CategoryName"]);
                insertLi(data, data[k]["CategoryID"]);
                treeString += "</li>";
            }
        });
        treeString += "</ul>";
    }
</script>
