﻿
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/admin/jstree/proton/style.css")" rel="stylesheet" type="text/css" />

}
<script src="~/resources/js/admin/jstree/jstree.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(document).ready(function () {
            $("#editBox").hide();
            loadData();
        });
        function loadData() {
            ret = funjs_sendObjectToServer("/admin/GetCategories");
            treeString = "";
            comboString = "";
            $("#jstree").attr("class", "");
            insertLi(ret, "1");
            fillCombo(ret, "1", "شاخه والد");
            $("#jstree").html(treeString);
            $(".parentSelect").html("<option value='1'>شاخه والد</option>");
            $(".parentSelect").append(comboString);
            $('#jstree').on('select_node.jstree', function (e, data) {
                $("#editBox").show();
                $("#editMessageBox").hide();
                $.each(ret, function (k, v) {
                    if (ret[k].CategoryID == data.node.id.split("_")[1]) {
                        $("#nameEdit").val(ret[k].CategoryName);
                        $("#parentEdit").val(ret[k].ParentCategoryID);
                        $("#nameEdit").attr("data-value", ret[k].CategoryID);
                    }
                });

            }).jstree({
                'core': {
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    }
                }
            });
        }
       
        var treeString = "";

        $("#submitCategorie").click(function () {
            showLoadingOn(".box");
            var obj = {};
            obj["CategoryName"] = $("#catName").val();
            obj["ParentCategoryID"] = $("#catParent  option:selected").val();
            funjs_sendObjectToServer("/admin/AddCategory", obj);
            hideLoadingOn(".box");
            loadData();
            return false;
        });
        $("#updateCategorie").click(function () {
            showLoadingOn(".box");
            var obj = {};
            obj["CategoryID"] = $("#nameEdit").attr("data-value");
            obj["CategoryName"] = $("#nameEdit").val();
            obj["ParentCategoryID"] = $("#parentEdit  option:selected").val();
            funjs_sendObjectToServer("/Admin/EditCategory", obj);
            hideLoadingOn(".box");
            loadData();
            return false;
        });
        function insertLi(data, parentId) {
            treeString += "<ul>";
            $.each(data, function (k, v) {
                if (data[k]["ParentCategoryID"] == parentId) {
                    treeString += ("<li id='node_" + data[k]["CategoryID"] + "' data-paret='" + data[k]["ParentCategoryID"] + "'>" + data[k]["CategoryName"]);
                    insertLi(data, data[k]["CategoryID"]);
                    treeString += "</li>";
                }
            });
            treeString += "</ul>";
        }
        var comboString = ""
        function fillCombo(data, parentId, parentText) {
            $.each(data, function (k, v) {
                if (data[k]["ParentCategoryID"] == parentId) {
                    comboString += ("<option value=" + data[k]["CategoryID"] + ">" + parentText + " > " + data[k]["CategoryName"] + "</option>");
                    fillCombo(data, data[k]["CategoryID"], data[k]["CategoryName"]);
                }
            });
        }
    });
</script>
<div class="row">
    <div class="col-md-6">
        <h4>
            افزودن دسته جدید:
        </h4>
        <br />
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">نام دسته:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="catName" placeholder="نام دسته را وارد کنید">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="email"> دسته والد:</label>
                <div class="col-sm-9">
                    <select class="form-control parentSelect" id="catParent">
                       
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" id="submitCategorie" class="btn btn-default">افزودن دسته</button>
                </div>
            </div>
        </form>

    </div>

</div>
<p style="border-bottom:2px solid #ccc"></p>
<div class="row">

    <div class="col-md-6">

        <h4>
            ویرایش دسته بندی ها:
        </h4>
        <br />
        <form id="editBox" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">نام دسته:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="nameEdit" placeholder="نام دسته را وارد کنید">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="email"> دسته والد:</label>
                <div class="col-sm-9">
                    <select class="form-control parentSelect" id="parentEdit">
                       
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" id="updateCategorie" class="btn btn-default">ویرایش دسته</button>
                </div>
            </div>
        </form>

        <div id="editMessageBox" class="alert alert-info alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon fa fa-info"></i> نحوه ویرایش:</h4>
            لطفا برای ویرایش دسته بندی ها، دسنه بندی مورد نظر را از نمودار درختی انتخاب کنید
        </div>
    </div>

    <div class="col-md-6">
        <h4>
            دسته بندی ها
        </h4>
        <br />
        <div id="jstree">

        </div>
    </div>


</div>


