﻿@model RavadGarWebSite.Models.Page

@{
    ViewBag.Title = "EditPage";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

<script src="~/resources/plugins/tinymce/tinymce.min.js"></script>

<div class="row">
    <div id="editor" class="col-md-12">
        <form id="pageForm" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">نام صفحه</label>
                <div class="col-sm-10">
                    <input type="hidden" name="ID" value="@Model.ID" class="form-control ">

                    <input type="text" name="Name" value="@Model.Name" class="form-control " id="nameInput">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">عنوان صفحه</label>
                <div class="col-sm-10">
                    <input type="text" name="Title" value="@Model.Title" class="form-control " id="nameInput">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">متن صفحه:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="pageContent" rows="5" id="pagecontent">@Model.PageContent</textarea>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2">
                <button id="submitPage" type="submit" class="btn btn-default">ثبت تغییرات</button>
                <a class="btn btn-danger" href="pages">انصراف</a>
            </div>
        </form>

    </div>


</div>

<script>
    $(document).ready(function () {
        tinymce.init({
            selector: '#pagecontent',
            height: 200,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: [
              '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
              '//www.tinymce.com/css/codepen.min.css'
            ]
        });


        $("#submitPage").click(function () {
            tinyMCE.triggerSave();
            var obj = funjs_getFormObject("pageForm");
            funjs_sendObjectToServer("/admin/EditPage", obj);
            return false;
        });
    });


</script>