﻿@model RavadGarWebSite.Models.Order
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <style>
        #faktorPage {
            background-color: white;
            border: 1px solid black;
            margin: 0 auto;
            max-width: 800px;
            direction: rtl;
        }

            #faktorPage #faktorHead {
                border-bottom: 1px solid black;
                padding: 5px 10px;
            }

            #faktorPage #faktorBody {
                border-bottom: 1px solid;
            }

            #faktorPage #faktorFooter {
            }

            #faktorPage #faktorBody thead {
                background-color: #eee;
                border-bottom: 1px solid;
            }

            #faktorPage #faktorBody tr td {
                padding: 8px;
            }
    </style>
    <script src="~/resources/js/jquery.min.js"></script>
    <script>
        function funjs_commonPrintpage() {
            document.title = "";
            $("#ptrbtn").remove();
            window.print();
        }
    </script>

</head>
<body>
    <div class="container">
        <div id="faktorPage">
            <div id="faktorHead">
                <p style="text-align:center;margin-top:10px;">فاکتور فروش فروشگاه روادگر</p>
                <table style="width:100%">
                    <tr>
                        <td>
                            خریدار:
                            <span id="customerName">@Model.User.FName &nbsp;  @Model.User.LName</span>
                        </td>
                        <td style="text-align:left">
                            شماره فاکتور:
                            <span id="buyDate">@Model.FactorId</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            وضعیت:
                            <span id="satus">@Model.PaymentState</span>
                        </td>
                        <td style="text-align:left">
                            تاریخ:
                            <span id="buyDate">@Model.PaymentDateTime</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            آدرس:

                            <span>@Model.User.Addresses.ToList()[0].State &nbsp; @Model.User.Addresses.ToList()[0].City &nbsp; @Model.User.Addresses.ToList()[0].Address1 &nbsp;</span>
                            &nbsp;
                            کد پستی:
                            <span>@Model.User.Addresses.ToList()[0].PostalCode &nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            موبایل:
                            <span>@Model.User.Mobile</span>
                            &nbsp;&nbsp;
                            تلفن:
                            <span>@Model.User.Tel</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="faktorBody">
                <table style="width:100%;">
                    <thead>
                        <tr>
                            <td style="width:50px;">ردیف</td>
                            <td>شرح کالا</td>
                            <td>نوع</td>
                            <td>فی</td>
                            <td>تعداد</td>
                            <td>قیمت</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                        }

                        @foreach (var item in Model.OrderDetails)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Product.PFName </td>
                                @if (item.ProductCombination != null)
                                {
                                    <td>@item.ProductCombination.CombinationValue</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@item.Price</td>
                                <td>@item.Number</td>
                                <td>@(item.Price * item.Number)</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="5" style="border-top:1px solid black;">هزینه حمل و نقل</td>
                            <td style="border-top:1px solid black;">@Model.ShippingFee</td>
                        </tr>
                        <tr>
                            <td colspan="5" style="border-top:1px solid black;background-color:#e2e2e2"> مجموع</td>
                            <td style="border-top:1px solid black;background-color:#e2e2e2">@Model.Amount</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <div style="padding:10px">
        <button onclick="funjs_commonCallPrint('.container')">پرینت</button>
    </div>
    <script>

            function funjs_commonCallPrint(parentPanel) {
                if (typeof (parentPanel) === 'undefined')
                    parentPanel = '.box-body';
                var prtContent = $(parentPanel);
                //var obj = funjs_formGetObject($(".panel-body .form-horizontal").attr("id"));
                var WinPrint = window.open('', '', 'width=800,height=650,scrollbars=1,menuBar=1');
                var headContent = document.getElementsByTagName('head')[0].innerHTML;
                var str = '<html><head>' + headContent + "</head><body onload='funjs_removeUnUseableAreas()'>" + prtContent[0].innerHTML + "<input id='ptrbtn' type='button' value='پرینت' onclick='funjs_commonPrintpage()'/></body></html>";
                WinPrint.document.write(str);
                WinPrint.document.close();
                WinPrint.focus();
            }
    </script>
</body>
</html>
