﻿
@{
    ViewBag.Title = "news";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-layout.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/jqgrid/jquery.jqGrid.min.js"></script>
<script src="~/resources/js/jqgrid/grid.locale-en.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery("#list").jqGrid({
            url: '/Admin/GetNews',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [
                { label: 'کد خبر', name: 'NewsCode', width: 175, align: "right" },
                { label: 'تیتر خبر', name: 'NewsTitle', width: 150, align: "right" },
                { label: 'دسته', name: 'Category', width: 150, align: "right" },
        { label: 'ویرایش خیر', name: 'NewsCode', width: 100, align: 'center', sortable: false, formatter: viewformater }],
            gridComplete: function () {
                var gr = jQuery('#list'); gr.setGridHeight("auto", true);

            },
            viewrecords: true,
            loadonce: true,
            rowNum: 10,
            pager: "#pager",
            direction: "rtl",
            autowidth: true,
            shrinkToFit: true,
            sortname: 'Category',
            sortorder: "asc",
            caption: "لیست اخبار"

        });
        function viewformater(cellvalue, options, rowObject) {
            var returnvalue = "<button style='height:25px;width:120px;border:0px;background:none;' type='button' onclick=\"gotoPage('/Admin/NewstEdit?PCode=" + cellvalue + "');return false;\" ><img src='/resources/images/admin/viewdetail.png'/></button>";
            return returnvalue;
        }
    })
</script>
<div>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-12">
            <button class="btn btn-info btn-primary" type="button" onclick="window.location.href='/Admin/AddNews'">افزودن خبر</button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="list"><tr><td></td></tr></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

