﻿
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/js/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
}

<script src="~/resources/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="~/resources/js/jqgrid/jquery.jqGrid.min.js"></script>
<script src="~/resources/js/jqgrid/grid.locale-en.js"></script>
<script>
    function paymentFormater(value){
        if (value=="Payed") {
            return "<span style='color:green'>پرداخت شده</span>";
        }
        else {
            return "<span style='color:red'>پرداخت نشده</span>";
        }
    }
    $(document).ready(function () {
        jQuery("#list").jqGrid({
            url: '/Admin/GetAllOrders',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [
                { label: 'کد سفارش', name: 'FactorId', width: 175, align: "right" },
                { label: 'وضعیت', name: 'PaymentState',formatter: paymentFormater, width: 150, align: "right" },
                { label: 'تاریخ ثبت فاکتور', name: 'FactorDateTime', width: 150, align: "right" },
                { label: 'تاریخ پرداخت', name: 'PaymentDateTime', width: 150, align: "right" },
                { label: 'شماره تراکنش', name: 'TransactionRefNumber', width: 150, align: "right" },
                

        { label: 'مشاهده فاکتور', name: 'FactorId', width: 100, align: 'center', sortable: false, formatter: viewformater }],
            gridComplete: function () {
                var gr = jQuery('#list'); gr.setGridHeight("auto", true);

            },
            viewrecords: true,
            loadonce: false,
            rowNum: 10,
            pager: "#pager",
            direction: "rtl",
            autowidth: true,
            shrinkToFit: true,
            sortname: 'Category',
            sortorder: "asc",
            caption: "لیست سفارشات"

        });
        function viewformater(cellvalue, options, rowObject) {
            var returnvalue = "<a class='fancyBox' style='height:25px;width:120px;border:0px;background:none;' href='/admin/Factor/?factorId=" + cellvalue + "'><img src='/resources/images/admin/viewdetail.png'/></a>";
            return returnvalue;
        }
    })
</script>
<div>
    <div class="row">
        <div class="col-md-12">
            <table id="list"><tr><td></td></tr></table>
            <div id="pager"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".fancyBox").fancybox({
            'width': '80%',
            'height': '90%',
            'autoScale': false,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'iframe'
        }
        );
    });
</script>