﻿
@{
    ViewBag.Title = "pages";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-layout.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/jqgrid/jquery.jqGrid.min.js"></script>
<script src="~/resources/js/jqgrid/grid.locale-en.js"></script>



<script type="text/javascript">
    function gotoPage(target) {
        window.location.href = target;
    }
    $(document).ready(function () {
        jQuery("#list").jqGrid({
            url: '/admin/getPages',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [
                { label: 'کد صفحه', name: 'ID', width: 175, align: "right" },
                { label: 'نام صفحه', name: 'Name', width: 150, align: "right" },
                { label: 'عنوان صفحه', name: 'Title', width: 150, align: "right" },

        { label: 'ویرایش صفحه', name: 'ID', width: 100, align: 'center', sortable: false, formatter: viewformater }],
            gridComplete: function () {
                var gr = jQuery('#list'); gr.setGridHeight("auto", true);

            },
            viewrecords: true,
            loadonce: true,
            rowNum: 10,
            pager: "#pager",
            direction: "rtl",
            autowidth: true,
            shrinkToFit: true,
            sortname: 'DateTime',
            sortorder: "asc",
            caption: "لیست سفارشات"

        });

        function viewformater(cellvalue, options, rowObject) {
            var returnvalue = "<button style='height:25px;width:120px;border:0px;background:none;' type='button' onclick=\"gotoPage('/admin/EditPage?ID=" + cellvalue + "');return false;\" ><img src='/resources/images/userpanel/viewdetail.png'/></button>";
            return returnvalue;
        }


    });



</script>

<div class="row" style="margin-bottom:5px;">
    <div class="col-md-12">
        <a class="btn btn-info btn-primary" href="/Admin/AddPage">اضافه کردن صفحه</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="list"><tr><td></td></tr></table>
        <div id="pager"></div>
    </div>
</div>