﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-layout.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/jqgrid/jquery.jqGrid.min.js"></script>
<script src="~/resources/js/jqgrid/grid.locale-en.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        jQuery("#list").jqGrid({
            url: '/Admin/GetProducts',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",
            colModel: [
                { label: 'کد کالا', name: 'PCode', width: 175, align: "right" },
                { label: 'نام کالا', name: 'PFName', width: 150, align: "right" },
                { label: 'قیمت محصول', name: 'Price', width: 150, align: "right" },
                { label: 'موجودی انبار', name: 'Number', width: 150, align: "right" },
                { label: 'دسته', name: 'Category', width: 150, align: "right" },

        { label: 'ویرایش کالا', name: 'PCode', width: 100, align: 'center', sortable: false, formatter: viewformater }],
            gridComplete: function () {
                var gr = jQuery('#list'); gr.setGridHeight("auto", true);

            },
            viewrecords: true,
            loadonce: false,
            rowNum: 10,
            pager: "#pager",
            direction: "rtl",
            autowidth: true,
            shrinkToFit: true,
            sortname: 'Category',
            sortorder: "asc",
            caption: "لیست کالاها"

        });
        function viewformater(cellvalue, options, rowObject) {
            var returnvalue = "<button style='height:25px;border:0px;background:none;' type='button' onclick=\"window.location.replace('/Admin/ProductEdit?PCode=" + cellvalue + "');return false;\" ><img src='/resources/images/admin/viewdetail.png'/></button>"
                + "<button style='height:25px;border:0px;background:none;' type='button' onclick='removeProduct( "+ cellvalue +")'><img style='width:25px' src='/resources/images/remove-icon.png'/></button>";
            return returnvalue;
        }

    })
    function removeProduct(pCode) {
        if (confirm("آیا با حذف محصول موافقید؟")) {
            var ret = funjs_sendObjectToServer("/Admin/DeleteProduct", { "pCode": pCode });
            if (ret["result"] == "Successful") {
                alert("محصول با موفقیت حذف گردید");
            }
        }
    }
</script>
<div>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-12">
            <button class="btn btn-info btn-primary" type="button" onclick="window.location.href='/Admin/AddProduct'">اضافه کردن محصول</button>
            
        </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <table id="list"><tr><td></td></tr></table>
            <div id="pager"></div>
        </div>
    </div>
</div>