﻿@model List<RavadGarWebSite.Models.Product>
@{
    ViewBag.Title = "ProductsList";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}
@using (Html.BeginForm("ProductsList", "Admin", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <table>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@Enum.GetName(typeof(RavadGarWebSite.Models.ViewModels.ProductCategory), @p.Category)</td>
                    <td>@p.PFName</td>
                    <td>@p.PEName</td>
                    <td>@p.Number</td>
                    <td>@p.Price</td>
                    <td>@p.Description</td>
                    <td>@p.FullDescription</td>
                    <td>
                        <img src="@p.Image" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
