﻿@model RavadGarWebSite.Models.ViewModels.ChangePassWordViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

<div>
    <div class="box">
        <div class="body">
            @using (Html.BeginForm("Settings", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4>فرم تغییر پسورد</h4>
                <br />
                @Html.ValidationSummary("")
                <div style="padding-top:10px;text-align:center;margin-bottom:50px;" class="body">
                    <div class="form-group col-md-4 col-md-offset-4">
                        <label>پسورد فعلی</label>
                        @Html.PasswordFor(m => m.OldPassWord, new { @class = "form-control required txtbox" })
                    </div>

                    <div class="form-group col-md-4 col-md-offset-4">
                        <label>پسورد جدید</label>
                        @Html.PasswordFor(m => m.NewPassWord, new { @class = "form-control required txtbox" })
                    </div>

                    <div class="form-group col-md-4 col-md-offset-4">
                        <label>تکرار پسورد جدید</label>
                        @Html.PasswordFor(m => m.ReNewPassWord, new { @class = "form-control required txtbox" })
                    </div>

                    <div class="form-group col-md-4 col-md-offset-4">
                        <input type="submit" value="تغییر پسورد" class="btn btn-success" style="padding:10px 40px" />
                    </div>
                </div>
            }
        </div>

    </div>
</div>
