﻿@{
    ViewBag.Title = "Users";
    Layout = "~/Views/shared/_adminLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/resources/css/jqgrid/ui.jqgrid-layout.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/jqgrid/jquery.jqGrid.min.js"></script>
<script src="~/resources/js/jqgrid/grid.locale-en.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery("#list").jqGrid({
            url: '/Admin/GetUsers',
            mtype: "GET",
            styleUI: 'Bootstrap',
            datatype: "json",

            colModel: [

                { label: 'ایمیل', name: 'Email', width: 175, align: "right" },
                { label: 'نام', name: 'FName', width: 150, align: "right" },
                { label: 'نام خانوادگی', name: 'LName', width: 150, align: "right" },
                { label: 'موبایل', name: 'Mobile', width: 150, align: "right" },
        { label: 'مشاهده و ویرایش', name: 'Email', width: 100, align: 'center', sortable: false, formatter: viewformater },
            ],
            gridComplete: function () {
                var gr = jQuery('#list'); gr.setGridHeight("auto", true);
            },
            viewrecords: true,
            rowNum: 15,
            total: 50,
            pager: "#pager",
            direction: "rtl",
            autowidth: true,
            shrinkToFit: true,
            sortname: 'DateTime',
            sortorder: "asc",
            caption: "لیست کاربران عضو"

        });

        function viewformater(cellvalue, options, rowObject) {
            //alert(options.rowId);
            //var returnvalue = "<button data-toggle='modal' data-target='#myModal' style='height:25px;width:50px;border:0px;background:none;' type='button' title='Slet' onclick=\"giveDataToPop(" + cellvalue + ");return false;\" ><img src='/resources/images/userpanel/viewdetail.png'/></button>";
            var returnvalue = "<a href='/Admin/EditUsers?email=" + cellvalue + "' ><img src='/resources/images/userpanel/viewdetail.png'/></a>"
            return returnvalue;
        }
        //function editformater(cellvalue, options, rowObject) {

        //    var returnvalue = "<select id='edit" + cellvalue + "' class='statusOptions'><option value='0'>ثبت شد</option><option value='1'>در حال بررسی</option><option value='2'>انجام شد</option><option value='3'>لغو شد</option></select> <button  style='height:25px;width:50px;border:0px;background:none;' type='button' title='Slet' onclick=\"changeStatus(" + cellvalue + ");return false;\" ><img src='/resources/images/userpanel/bluetick.png'/></button>";
        //    return returnvalue;
        //}
    });

</script>
<div id="gridDiv">
    <table id="list"><tr><td></td></tr></table>
    <div id="pager"></div>
</div>
