﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/resources/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/resources/css/menu.css" rel="stylesheet" />
    <link href="~/resources/css/styles.css" rel="stylesheet" />

    <script src="~/resources/js/jquery-2.1.4.min.js"></script>
    <script src="~/resources/js/jquery.cookie.js"></script>
    <script src="~/resources/js/bootstrap.min.js"></script>
    <script src="~/resources/js/scripts.js"></script>
    @RenderSection("Styles", false)
</head>
<body>

    <div id="header">
        <div id="headermain">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <a id="logoText" title="فروشگاه روادگر فروشگاه بدمینتون تنیس اسکواش" href="/home/index"><img src="~/resources/images/logo.png" alt="فروشگاه روادگر" /></a>
                    </div>
                    <div class="col-md-6">
                        <div id="searchBox">
                            <input id="searchTextBox" type="text" name="searchtext" value="" placeholder="جستجو...." />
                            <button id="searchBtn" name="search" value="جستجو">
                                <i class="fa fa-search"></i>
                                &nbsp;
                                جستجو
                            </button>
                            <div id="searchResultListDropDown" style="display:none;">
                                <p style="padding-right:8px;font-size:11px;">محصولات:</p>
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="headerTopLeft" class="block">
                            <ul class="list-link">
                                <li class="item">
                                    <a href="login.html">
                                        @Html.Action("GetUserData", "home")
                                    </a>
                                </li>
                                <li class="item item-cart block-wrap-cart" id="bascketBtn">
                                    <div>
                                        <span class="icon cart">
                                            <i class="fa fa-shopping-basket"></i>
                                        </span>
                                        <span class="line1">
                                            سبد خرید<br>
                                            <span id="productNumbers" class="nyekan">0 محصول</span>
                                        </span>
                                        <i id="downIcon" class="fa fa-chevron-down" aria-hidden="true"></i>

                                        <div id="bascketDiv">
                                            <ul>
                                            </ul>
                                            <div style="clear:both">
                                                <table style="width:100%;margin-bottom:5px;text-align:center;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p>
                                                                    جمع کل:
                                                                </p>
                                                            </td>
                                                            <td>
                                                                <p class="price" id="sumPrice">0 تومان</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div style="text-align:center;padding-bottom:5px;">
                                                    <a class="pay" href="/ShoppingCart/Index">پرداخت کنید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="menudiv">
            <div class="container">
                <nav class="navbar" id="main-menu">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="#">منو</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="/search/2/لوازم بدمینتون" class="dropdown-toggle">

                                        بدمینتون
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 850px;">
                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="#">
                                                    <img src="~/resources/images/menu/badminton.jpg" />
                                                </a>
                                            </div>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/6/راکت بدمینتون" class="titr" target="_blank" title="راکت بدمینتون">راکت بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/18/راکت بدمینتون مکس max">مکس - MAX</a></li>
                                                <li class="link_container"><a href="/search/17/راکت بدمینتون یونکس yonex">یونکس - Yonex</a></li>
                                            </ul>
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/5/کفش بدمینتون" class="titr" target="_blank" title="کفش بدمینتون">کفش بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/15/کفش بدمینتون مکس max">مکس - MAX</a></li>
                                                <li class="link_container"><a href="/search/16/کفش بدمینتون یونکس yonex">یونکس - Yonex</a></li>
                                            </ul>
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/31/توپ بدمینتون" class="titr" target="_blank" title="توپ بدمینتون">توپ بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/1030/توپ بدمینتون مکس">مکس - MAX</a></li>
                                                <li class="link_container"><a href="/search/1031/توپ بدمینتون یونکس">یونکس - Yonex</a></li>
                                            </ul>

                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/7/لباس مردانه بدمینتون" class="titr" target="_blank" title="لباس مردانه بدمینتون">لباس مردانه بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/1033/تی شرت بدمینتون">تی شرت بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/1036/شورت بدمینتون">شورت بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/1037/جوراب بدمینتون">جوراب بدمینتون</a></li>

                                            </ul>
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/1032/توپ بدمینتون" class="titr" target="_blank" title="لباس زنانه بدمینتون">لباس زنانه بدمینتون</a></li>
                                                <li class="link_container"><a href="/search/1038/توپ بدمینتون">لباس بدمینتون</a></li>
                                                <li class="link_container"><a href="">هد بند بدمینتون</a></li>

                                            </ul>
                                           
                                           
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="" class="titr" target="_blank" title="تی شرت بدمینتون">دیگر لوازم بدمینتون</a></li>
                                                <li class="link_container"><a href="">مچ بند بدمینتون</a></li>
                                                <li class="link_container"><a href="">گریپ راکت بدمینتون</a></li>
                                            </ul>
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/22/ساک بدمینتون" class="titr" target="_blank" title="ساک بدمینتون">ساک ورزشی بدمینتون</a></li>
                                                <li class="link_container"><a href=""> یونکس - Yonex</a></li>
                                                <li class="link_container"><a href=""> مکس - MAX</a></li>
                                                <li class="link_container"><a href="">آسیکس- ASICS</a></li>
                                            </ul>

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/search/4/تنیس" class="dropdown-toggle">

                                        تنیس
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 850px;">
                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="/search/4/تنیس">
                                                    <img src="~/resources/images/menu/tennismenu.jpg" />
                                                </a>
                                            </div>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/12/راکت تنیس" class="titr" target="_blank" title="راکت تنیس">راکت تنیس</a></li>
                                                <li class="link_container"><a href="/search/1040/راکت تنیس head">راکت HEAD</a></li>
                                                <li class="link_container"><a href="/search/1042/راکت تنیس babolat">راکت babolat</a></li>
                                                <li class="link_container"><a href="/search/1041/راکت تنیس yonex">راکتyonex</a></li>

                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/25/کیف تنیس" class="titr" target="_blank" title="کفش تنیس">کیف تنیس</a></li>
                                                <li class="link_container"><a href="/search/26/کیف تنیس head">HEAD</a></li>
                                                <li class="link_container"><a href="/search/27/کیف تنیس babolat">babolat</a></li>
                                                <li class="link_container"><a href="/search/28/کیف تنیس wilson">wilson</a></li>
                                                <li class="link_container"><a href="/search/29/کیف تنیس swissgear">swissgear</a></li>

                                            </ul>
                                        </li>

                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/9/کفش تنیس" class="titr" target="_blank" title="کفش تنیس">کفش تنیس</a></li>
                                                <li class="link_container"><a href="/search/21/کفش تنیس آدیداس"> آدیداس - adiddas</a></li>

                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">

                                        </li>
                                        <li class="block-container col-sm-3">

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/search/3/لوازم اسکواش" class="dropdown-toggle">

                                        اسکواش
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 850px;">
                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="/search/3/لوازم اسکواش">
                                                    <img src="~/resources/images/menu/squashmenu.jpg" />
                                                </a>
                                            </div>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/10/راکت اسکواش" class="titr" target="_blank" title="راکت اسکواش"> راکت اسکواش</a></li>
                                                <li class="link_container"><a href="/search/19/راکت اسکواش مکس">مکس -MAX</a></li>

                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">

                                        </li>
                                        <li class="block-container col-sm-3">

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/search/8/لوازم پینگ پنگ" class="dropdown-toggle">

                                        پینگ پنگ
                                    </a>
                                    <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 850px;">
                                        <li class="block-container col-sm-3 border">
                                            <div class="img_container banner-hover">
                                                <a href="/search/8/پینگ پنگ">
                                                    <img src="~/resources/images/menu/pingpongmenu.jpg" />
                                                </a>
                                            </div>
                                        </li>
                                        <li class="block-container col-sm-3">
                                            <ul class="block-megamenu-link">
                                                <li class="link_container group_header"><a href="/search/11/راکت پینگ پنگ" class="titr" target="_blank" title="راکت پینگ پنگ"> راکت پینگ پنگ</a></li>
                                                <li class="link_container"><a href="/search/20/راکت پینگ پنگ استیگا stiga">استیگا - Stiga</a></li>

                                            </ul>
                                        </li>
                                        <li class="block-container col-sm-3">

                                        </li>
                                        <li class="block-container col-sm-3">

                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/News/All">اخبار</a></li>
                                <li><a href="/Page/aboutus">درباره ما</a></li>
                                <li><a href="/Page/contactus">تماس با ما</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="contentDiv">
            @RenderBody()
    </div>

    <div id="footerDiv">
        <div id="footerBottom" class="footer-distributed">
            <div class="container">
                <div class="footer-right">
                    <p class="footer-company-about">
                        <span>درباره روادگر</span>
                        فروشگاه روادگر عرضه کننده محصولات ورزش های راکتی و تنها نماینده رسمی محصولات Yonex و MAX در ایران
                       </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
             
                <div class="footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>خیابان ولیعصر - بالاتر از میدان منیریه - پلاک 892</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p class="nyekan">021-66453551 - 021-66454879</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:info@ravadgar.com">info@ravadgar.com</a></p>
                    </div>
                </div>

                <div class="footer-left">
                    <h3>فروشگاه
                    <span>روادگر</span></h3>
                    <p class="footer-links">
                        <a href="/">خانه</a>
                        ·
                        <a href="#">محصولات</a>
                        ·
                        <a href="/Page/roles">قوانین و مقررات</a>
                        ·
                        <a href="/Page/complaint">ثبت شکایات</a>
                        ·
                        <a href="/Page/aboutus">درباره ما</a>
                        ·
                        <a href="/Page/contactus">تماس با ما</a>
                    </p>
                </div>
               
            </div>
        </div>
    </div>
    <div role="dialog" class="modal fade" id="messageModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                </div>
                <div id="popopMainDv2" class="modal-body">
                    <p style="text-align:center;" id="messageBody">
                    </p>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">بستن پنجره</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
