.plupload_wrapper
{
    min-width: 0;
}
.plupload_container .plupload_header
{
   
}
.switcher
{
    margin: 2px;
}
.switcher label
{
    margin-left: 5px;
}
.ui-button-text
{
    font-family: BNazanin,'BNazanin',BNazanin;
}


.plupload_file_thumb
{
    background-color: transparent;
}

.success-upload
{
    background: url("../images/yes2.png") 50% 50% green;
}
.plupload_file_action .glyphicon-trash
{
    color: red;
    cursor: pointer;
}
.plupload_file_name_wrapper 
{
    font-size: 12px;
    font-weight: normal;
}
.plupload_progress
{
    width: 20%;
}
.file-box
{
    /*padding: 0 10px 10px 10px;*/
    height: 120px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 8px;
}
.file-box .file-name
{
    height: 25px;
    overflow: hidden;
    background-color: #868383;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    top: -3px;
}

.thumbnail-box
{
    width: 100%;
    height: 85px;
    text-align: center;
    line-height: 85px;
}
.type-jpg
{
    background-image: url("../../img/file icons/jpg.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.type-rar, .rar
{
    background-image: url("../../img/file icons/rar.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.type-pdf, .pdf
{
    background-image: url("../../img/file icons/pdf.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.type-mp3, .mp3
{
    background-image: url("../../img/file icons/mp3.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.actions-box
{
    /*height: 20px;*/
    padding: 5px;
}

.action-item
{
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;  
    margin-left: 10px;
    cursor: pointer;
}

.action-item:hover
{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
.details-box
{
    display: none;
}


.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.uploadStatus
{
    color: red;
    background-color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid red;
    position: relative;
    top: 20%;
    cursor: pointer;    
}
.uploadStatus span
{
    padding-left: 3px;
}

.file-box .file-header
{
    height: 25px;
    overflow: hidden;
    background-color: green;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    top: -3px;
}

.file-box-waiting
{
    background-color: #F7DCAD;
}
.file-box-accept
{
    background-color: #C9F5C8;
}
.file-box-discard
{
    background-color: #FBD6D6 !important;
}
