﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container">
    <div class="blockRow userPanelDiv">
        <div class="">


            <div class="row userpanel">
                <div class="col-md-2 col-md-offset-2">
                    <a href="/user/ProfileEdit">
                        <img src="~/resources/images/userpanel/profileedit.png" />
                        <label>ویرایش پروفایل</label>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="/user/Address">
                        <img src="~/resources/images/userpanel/address.png" />
                        <label>آدرس</label>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="/user/orders">
                        <img src="~/resources/images/userpanel/order.jpg" />
                        <label>سفارشهات شما</label>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="/user/password">
                        <img src="~/resources/images/userpanel/setting.jpg" />
                        <label>تنظیمات</label>
                    </a>
                </div>

            </div>
            <div class="row userpanel">
                <div class="col-md-2 col-md-offset-2">
                    <a href="/user/UserLogOut">
                        <img src="~/resources/images/userpanel/signout.jpg" />
                        <label>خروج از سیستم کاربری</label>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
