﻿@model IEnumerable<RavadGarWebSite.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container">
    <div class="blockRow">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="shopping-cart-summary" id="table">
                    <thead>
                        <tr>
                            <td>
                                کد سفارش
                            </td>
                            <td>
                                وضعیت
                            </td>
                            <td>
                                قیمت کل
                            </td>
                            <td>
                                مشاهده فاکتور
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.FactorId
                                </td>
                                <td>
                                    @if (item.PaymentState=="Payed")
                                    {
                                       <span style="color:green">پرداخت شده</span>
                                    }
                                    else
                                    {
                                        <span style="color:red">پرداخت نشده</span>
                                    }
                                    
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    <a href="/ShoppingCart/FactorPeymant/?factorId=@item.FactorId">مشاهده فاکتور</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
