﻿
@{
    ViewBag.Title = "password";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/mgwvalidator.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/mgwvalidator.js"></script>
<div class="container">
    <div class="blockRow">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 style="text-align:center;">ویرایش پروفایل</h4>
                <br />
                <form id="register" name="register" class="form-horizontal" action="~/user/ChangePasswordAction" role="form" method="post">

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">رمز عبور فعلی:</label>
                        <div class="col-sm-10">
                            <input type="password" name="OldPassWord" data-mgwvalidator="required" id="PassWord" class="form-control" placeholder="رمز عبور را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">رمز عبور جدید:</label>
                        <div class="col-sm-10">
                            <input type="password" name="NewPassWord" data-mgwvalidator="required" id="newPassWord" class="form-control" placeholder="رمز عبور را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">تکرار رمز عبور جدید:</label>
                        <div class="col-sm-10">
                            <input type="password" name="ReNewPassWord" data-mgwvalidator="required,repeatEqual[newPassWord]" id="repeatNewPassWord" class="form-control" placeholder="رمز عبور را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submitBtn" type="submit" class="btn btn-success">ثبت </button>
                            <a href="/user/Index" class="btn btn-default">بازگشت</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("click", "#submitBtn", function () {
        if (!$("#register").validation()) {
            return false;
        }
    });
    $(document).ready(function () {
        isRtl = true;
        validateOnBlur("#register");

    })
</script>