﻿@model RavadGarWebSite.Models.ViewModels.ProfileEditViewModel
@{
    ViewBag.Title = "ProfileEdit";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/resources/css/mgwvalidator.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/mgwvalidator.js"></script>

<div class="container">
    <div class="blockRow userPanelDiv">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 style="text-align:center;">ویرایش پروفایل</h4>
                <br />
                <form id="register" name="register" class="form-horizontal" action="~/user/ChangeProfileAction" role="form" method="post">

                    <div class="form-group">
                        <label class="control-label col-sm-2">نام:</label>
                        <div class="col-sm-10">
                            <input type="text" id="FName" data-mgwvalidator="required" name="FName" value="@Model.FName" class="form-control" placeholder="نام خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">نام خانوادگی:</label>
                        <div class="col-sm-10">
                            <input type="text" name="LName" data-mgwvalidator="required" id="LName" value="@Model.LName" class="form-control" placeholder="نام خانوادگی را وارد کنید">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="control-label col-sm-2">شماره تلفن:</label>
                        <div class="col-sm-10">
                            <input type="text" name="Tel" id="Tel" data-mgwvalidator="required" class="form-control" value="@Model.Tel" placeholder="تلفن خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">شماره موبایل:</label>
                        <div class="col-sm-10">
                            <input type="text" name="Mobile" data-mgwvalidator="required" id="Mobile" value="@Model.Mobile" class="form-control" placeholder="موبایل خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submitBtn" type="submit" class="btn btn-success">ثبت </button>
                            <a href="/user/Index" class="btn btn-default">بازگشت</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </div>
<script>

    $(document).on("click", "#submitBtn", function () {
        if (!$("#register").validation()) {
            return false;
        }
    });
    $(document).ready(function () {
        isRtl = true;
        validateOnBlur("#register");

    })
</script>