﻿.loadingDiv{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(159, 159, 159, 0.62);
    text-align:center;
    top:0px;right:0px;
}
.loadingDiv img{
    margin-top:100px;
}