﻿#menudiv .mega_dropdown .block-megamenu-link > li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#menudiv .navbar-nav {
    float: right;
}

#menudiv .navbar-header {
    display: none;
}

#menudiv {
    background: #fbfbfb;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

    #menudiv .navbar {
        margin: 0;
        border-radius: 0;
        border: none;
    }

        #menudiv .navbar > .container-fluid {
            padding: 0;
        }

    #menudiv .navbar-header {
        display: none;
    }

    #menudiv .navbar-collapse {
        padding: 0;
    }

    #menudiv .navbar-nav > li {
        padding-right: 1px;
    }

        #menudiv .navbar-nav > li > a {
            padding: 0 20px;
            margin: 11px 0;
            height: 28px;
            line-height: 28px;
            border-radius: 20px;
            text-transform: uppercase;
            position: relative;
        }

            #menudiv .navbar-nav > li > a > img {
                position: absolute;
                top: -17px;
                left: 50%;
                -ms-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            #menudiv .navbar-nav > li > a:hover,
            #menudiv .navbar-nav > li.active > a,
            #menudiv .navbar-nav > li > a:focus {
                background: #5a88ca;
                color: #fff;
            }

    #menudiv .dropdown-menu {
        border-radius: 5px;
        min-width: 200px;
        left: auto;
        padding: 20px 15px;
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, transform 0.5s;
        -webkit-transform: translate(0,40px);
        -moz-transform: translate(0,40px);
        -o-transform: translate(0,40px);
        -ms-transform: translate(0,40px);
        transform: translate(0,40px);
        display: block;
        visibility: hidden;
        opacity: 0;
        background: #fff;
        border: none;
    }

    #menudiv .navbar-nav > li > .dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #menudiv ul {
        padding: 0;
    }

    #menudiv li.dropdown > a:after {
        content: "\f0d8";
        font-family: 'FontAwesome';
        position: absolute;
        left: 50%;
        bottom: -12px;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #fff;
        display: none;
    }

    #menudiv .dropdown-menu li {
        list-style: none;
    }

    #menudiv .navbar-nav > li:hover > a:after {
        display: block;
    }

    #menudiv .navbar-nav > li:hover .dropdown-menu {
        -webkit-transform: translate(0,-10px);
        -moz-transform: translate(0,-10px);
        -o-transform: translate(0,-10px);
        -ms-transform: translate(0,-10px);
        transform: translate(0,-10px);
        opacity: 1;
        visibility: visible;
        background: #fff;
    }

    #menudiv .mega_dropdown .block-megamenu-link {
    }

        #menudiv .mega_dropdown .block-megamenu-link > li {
            line-height: 25px;
            padding-left: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
        }

            #menudiv .mega_dropdown .block-megamenu-link > li > a:before {
                font-family: 'FontAwesome';
                content: "\f104";
                margin-left: 10px;
            }

    #menudiv .border {
        border-right: 1px solid #eaeaea;
    }

    #menudiv .mega_dropdown .block-megamenu-link > li:hover {
        background: #5a88ca;
        color: #fff;
        padding-right:12px;
    }

        #menudiv .mega_dropdown .block-megamenu-link > li:hover > a {
            color: #fff;
        }

    #menudiv .mega_dropdown .block-container {
    }

    #menudiv .mega_dropdown li.group_header {
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 5px;
        background: #fff;
    }

    #menudiv .dropdown-menu .block-container .group_header > a {
        line-height: 32px;
        color: #5a88ca;
        display: inline-block;
    }

    #menudiv .dropdown-menu .block-container li.group_header > a:before {
        display: none;
    }

    #menudiv .mega_dropdown .group_header:first-child {
        margin-top: 0;
    }

    #menudiv .mega_dropdown .img_container {
        padding-bottom: 10px;
    }

        #menudiv .mega_dropdown .img_container img {
            width: 100%;
        }

        #menudiv .mega_dropdown .img_container:last-child {
            padding-bottom: 0;
        }

    #menudiv .nav,
    #menudiv .collapse,
    #menudiv .dropup,
    #menudiv .dropdown {
        position: static;
    }

#menudiv-ontop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

    #menudiv-ontop#menudiv .navbar-nav > li > a > img {
        top: -12px;
    }
