body{
    direction:rtl;
    font-family:tahoma;
}
.alert {
    position: absolute;
    left: 0px;
    top: -3px;
    padding: 5px;
    z-index: 100;

}
.alert-ltr {
    position: absolute;
    right: -139px;
    top: -3px;
    padding: 5px;

}
.mgw-validator-error{
    border:1px solid red;
}
.mgw-validator-ok{
    border:1px solid green;
}