﻿@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot');
    src: url('../fonts/Yekan.eot?#') format('eot'), /* IE6?8 */
    url('../fonts/Yekan.eot?') format('eot'), /* IE6?8 */
    url('../fonts/Yekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Yekan.ttf') format('truetype'); /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'nYekan';
    src: url('../fonts/47.eot');
    src: url('../fonts/47.eot?#') format('eot'), /* IE6?8 */
    url('../fonts/47.eot?') format('eot'), /* IE6?8 */
    url('../fonts/47.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/47.ttf') format('truetype'); /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}


body {
    direction: rtl;
    margin: 0px;
    padding: 0px;
    font-family: 'Yekan';
    background-color: #FBFBFB;
}

button, input, submit {
    font-family: Yekan;
}

a {
    text-decoration: none;
    color: black;
}

.nyekan {
    font-family: nYekan;
}

.price {
    font-family: nYekan;
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.blockRow {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto 10px auto;
    border: 1px solid #ebeced;
    position: relative;
    padding: 7px;
}

#headermain {
    padding-top: 5px;
    padding-bottom: 5px;
}

#menudiv {
    background: #fbfbfb;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

#logoText {
    float: right;
    margin-top: 10px;
}

#searchBox {
    float: right;
    width: 100%;
    border: 1px solid #e6e6e6;
    margin-top: 25px;
    border-radius: 7px;
    position: relative;
}

#searchResultListDropDown {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 200px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 999;
    top: 37px;
}

    #searchResultListDropDown ul li.pr img {
        width: 60px;
        height: 60px;
        border: 1px solid #aaaaaa;
        padding: 3px;
        border-radius: 5px;
        margin-left: 7px;
    }

    #searchResultListDropDown ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        padding-right: 8px;
    }

        #searchResultListDropDown ul li {
            margin: 0px;
            padding: 0px;
            list-style: none;
            width: 100%;
        }

    #searchResultListDropDown li li.seprator {
        background: rgba(0, 0, 0, 0) url("../images/sep.png") no-repeat scroll center center;
        padding: 10px 0 5px;
        width: 100%;
    }

#searchBtn {
    width: 90px;
    float: left;
    height: 36px;
    background-color: #5d8acb;
    color: white;
    border: 0px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

#searchTextBox {
    height: 34px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0px;
    padding-right: 5px;
}

#contentDiv {
    padding-top: 15px;
}

#slideShowDiv {
    border-radius: 2px;
}

#importantTexts {
    min-height: 300px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #eaeaea;
}

.bg-white {
    background-color: white;
}

.box {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    padding: 5px 0px;
    margin: 0px 0px 10px 0px;
}

h3.title {
    background: url(../images/divider.gif) repeat-x 0px 15px;
    margin: 0px 5px;
}

    h3.title span {
        background: url(../images/ltitle.gif) #fff no-repeat right;
        padding: 5px 35px 5px 5px;
        color: #222;
    }

.clearb {
    clear: both;
}

#rightc {
    margin-top: 15px;
}

#leftc {
    margin-top: 15px;
}

#categoriesImage {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

#mostSellers {
}

#peoplarPrds {
}

#footerDiv {
    background-color: #FFFFFF;
    margin-top: 10px;
}

#footerTop {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    height: 250px;
}

#footerBottom {
    padding: 30px 0px 30px 0px;
}

.cImages {
    text-align: center;
    margin-bottom: 2%;
}

    .cImages img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .cImages h2 {
        height: 35px;
        background-color: #333;
        color: white;
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        line-height: 35px;
        font-weight: 100;
        margin-top: -11px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

#layerslider {
    width: 100%;
    height: 300px;
}


.rollProductsMainDiv {
    margin-bottom: 10px;
}

.rollProductsHeaderDiv {
    height: 30px;
    padding: 5px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}

.rollProductsBodyDiv {
    overflow: hidden;
    height: 375px;
    padding-top: 10px;
}

.rollProductsScrollDiv {
    height: 615px;
    overflow-x: scroll;
}

.rollProductsBodyDiv ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .rollProductsBodyDiv ul li {
        float: right;
        height: 172px;
        overflow: hidden;
        margin-bottom: 7px;
    }

        .rollProductsBodyDiv ul li .productRadiusedBorder {
            width: 160px;
            height: 200px;
            text-align: center;
        }

        .rollProductsBodyDiv ul li .topPart img {
            height: 120px;
        }

        .rollProductsBodyDiv ul li .topPart {
            border: 1px solid #ccc;
        }

        .rollProductsBodyDiv ul li .bottomPart p {
            padding: 0px;
            margin: 0px;
        }

        .rollProductsBodyDiv ul li .bottomPart .name {
            font-size: 12px;
            color: #4d4d4d;
            padding-top: 5px;
            height: 21px;
            overflow: hidden;
        }

        .rollProductsBodyDiv ul li .bottomPart .price {
            font-family: 'nYekan';
            font-size: 13px;
            font-weight: bold;
            color: #ffb424;
            padding-top: 2px;
        }

        .rollProductsBodyDiv ul li .topPart {
            position: relative;
            z-index: 0;
        }


            .rollProductsBodyDiv ul li .topPart:before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.2);
                opacity: 5;
                filter: alpha(opacity=0);
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
                z-index: 2;
            }

            .rollProductsBodyDiv ul li .topPart:after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.1);
                opacity: 6;
                filter: alpha(opacity=0);
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
                z-index: 1;
            }

        .rollProductsBodyDiv ul li:hover .topPart:before {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }

        .rollProductsBodyDiv ul li .bottomPart {
            position: relative;
            height: 130px;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            background: rgba(255, 255, 255,0.8);
            margin-top: 0px;
            z-index: 999;
        }

        .rollProductsBodyDiv ul li:hover .bottomPart {
            margin-top: -40px;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }

        .rollProductsBodyDiv ul li .bottomPart .bottons {
            padding-top: 5px;
        }


            .rollProductsBodyDiv ul li .bottomPart .bottons .btn-add-cart .icon:after {
                position: absolute !important;
                left: 3% !important;
                top: 2px !important;
                overflow: hidden !important;
                padding: 0px !important;
                border: 0 !important;
                color: #fff;
                width: 24px;
                height: 25px;
                background-color: #5a88ca;
                border-radius: 90%;
                text-align: center;
                line-height: 26px;
                -webkit-transition: all 0.6s ease-out;
                -moz-transition: all 0.6s ease-out;
                -o-transition: all 0.6s ease-out;
                -ms-transition: all 0.6s ease-out;
                transition: all 0.6s ease-out;
                content: ' ';
                background-image: url("../images/icons/cart-icon.png");
                background-repeat: no-repeat;
                background-position: center center;
            }

            .rollProductsBodyDiv ul li .bottomPart .bottons .btn-add-cart:hover .icon:after {
                border-radius: 0 !important;
                left: 100% !important;
                margin-left: -26px;
            }


            .rollProductsBodyDiv ul li .bottomPart .bottons .btn-add-cart {
                float: left;
                font-family: 'Yekan' !important;
                font-size: 12px !important;
                color: #333 !important;
                height: 30px !important;
                background-color: #5a88ca !important;
                border-radius: 90% !important;
                text-align: right !important;
                position: relative !important;
                border: 1px solid #aaaaaa !important;
                padding: 1px !important;
                background: #fff !important;
                display: inline-block !important;
                width: 69px !important;
                line-height: 26px !important;
                padding-left: 0px !important;
                padding-right: 11px !important;
                -webkit-border-radius: 17px !important;
                -moz-border-radius: 17px !important;
                border-radius: 17px !important;
                -webkit-transition: all 0.6s ease;
                -moz-transition: all 0.6s ease;
                -o-transition: all 0.6s ease;
                -ms-transition: all 0.6s ease;
                transition: all 0.6s ease;
                margin-top: 5px !important;
            }

                .rollProductsBodyDiv ul li .bottomPart .bottons .btn-add-cart:hover {
                    border-radius: 0 !important;
                    padding-right: 35px !important;
                    width: 68px !important;
                }


            .rollProductsBodyDiv ul li .bottomPart .bottons .viewMore {
                float: right;
                font-family: 'Yekan' !important;
                font-size: 12px !important;
                color: #333 !important;
                height: 30px !important;
                background-color: #5a88ca !important;
                border-radius: 90% !important;
                text-align: right !important;
                position: relative !important;
                border: 1px solid #aaaaaa !important;
                padding: 1px !important;
                background: #fff !important;
                display: inline-block !important;
                width: 70px !important;
                line-height: 26px !important;
                padding-left: 0px !important;
                padding-right: 28px !important;
                -webkit-border-radius: 17px !important;
                -moz-border-radius: 17px !important;
                border-radius: 17px !important;
                -webkit-transition: all 0.6s ease;
                -moz-transition: all 0.6s ease;
                -o-transition: all 0.6s ease;
                -ms-transition: all 0.6s ease;
                transition: all 0.6s ease;
                margin-top: 5px !important;
            }

                .rollProductsBodyDiv ul li .bottomPart .bottons .viewMore .more:after {
                    position: absolute !important;
                    left: 62% !important;
                    top: 2px !important;
                    overflow: hidden !important;
                    padding: 0px !important;
                    border: 0 !important;
                    color: #fff;
                    width: 24px;
                    height: 25px;
                    background-color: #a8a8a8;
                    border-radius: 90%;
                    text-align: center;
                    line-height: 26px;
                    -webkit-transition: all 0.6s ease-out;
                    -moz-transition: all 0.6s ease-out;
                    -o-transition: all 0.6s ease-out;
                    -ms-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
                    content: ' ';
                    background-image: url("../images/icons/info.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .rollProductsBodyDiv ul li .bottomPart .bottons .viewMore:hover {
                    padding-left: 26px !important;
                    padding-right: 5px !important;
                    width: 70px !important;
                }

                    .rollProductsBodyDiv ul li .bottomPart .bottons .viewMore:hover .more:after {
                        left: 3% !important;
                        /*margin-right: -26px;*/
                        -ms-transform: rotate(360deg); /* IE 9 */
                        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
                        transform: rotate(360deg);
                    }

.block {
    background: #fff;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#headerTopLeft {
    float: left;
    margin-top: 17px;
}

    #headerTopLeft ul li .item {
        height: 50px;
        padding-left: 15px;
        border-right: 1px solid #eaeaea;
        font-size: 12px;
        line-height: 16px;
        padding-top: 10px;
    }

    #headerTopLeft ul {
        margin: 0px;
        padding: 0px;
    }

        #headerTopLeft ul li {
            list-style: none;
            display: inline;
            float: right;
        }

    #headerTopLeft .item:last-child {
        border: none;
        padding-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #headerTopLeft .item.item-cart {
        background: #5a88ca;
        color: #fff;
        position: relative;
    }

    #headerTopLeft .item {
        height: 50px;
        padding-left: 17px;
        border-right: 1px solid #eaeaea;
        font-size: 12px;
        line-height: 20px;
        padding-top: 5px;
    }

    #headerTopLeft ul li {
        list-style: none;
        display: inline;
        float: right;
    }

    #headerTopLeft .item.item-cart > a {
        color: #fff;
    }

    #headerTopLeft .item .icon {
        width: 32px;
        padding-right: 10px;
        height: 40px;
        float: right;
        display: block;
        line-height: 40px;
        color: #5a88ca;
        font-family: "FontAwesome";
        font-size: 16px;
    }

        #headerTopLeft .item .icon.cart {
            color: #fff;
        }

    #headerTopLeft .item .line1, #headerTopLeft .item .line2 {
        padding-right: 15px;
        line-height: 20px;
        float: right;
    }

.right-blocks-title {
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    border-top-right-radius: 5px;
    position: relative;
    height: 45px;
}

.rollProductsMainDiv h2 {
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #333;
    height: 45px;
    border-top: 5px solid #5d8acb;
    line-height: 43px;
    text-transform: uppercase;
    padding: 0 20px;
    border-top-right-radius: 5px;
    border-left: 1px solid #eaeaea;
    float: right;
}

.right-blocks-arrows {
    display: inline-block;
    position: relative;
    float: right;
    padding: 11px 13px 3px 13px;
    border-left: 1px solid #eaeaea;
}

.showalllink {
    float: left;
    padding: 15px 0px 0px 22px;
    color: #333;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 13px;
    margin-left: 0px;
}

.right-blocks-arrows .rightarr {
    cursor: pointer;
    margin-left: 7px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #eaeaea;
    color: #666666;
    line-height: 18px;
    background: #fff;
    display: inline-block;
    border-radius: 90%;
    font-size: 0;
    background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-position: 7px center;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.right-blocks-arrows .leftarr {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #eaeaea;
    color: #666666;
    line-height: 18px;
    background: #fff;
    display: inline-block;
    border-radius: 90%;
    font-size: 0;
    background-image: url('../images/prev.png');
    background-repeat: no-repeat;
    background-position: 7px center;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.paneBody {
    padding: 7px;
    padding-bottom: 1px;
}

    .paneBody ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .paneBody ul li {
            margin-bottom: 10px;
        }

            .paneBody ul li .smallArticleImage {
                float: right;
                margin-left: 7px;
            }

                .paneBody ul li .smallArticleImage img {
                    width: 90px;
                    height: 60px;
                    border-radius: 5px;
                }

            .paneBody ul li .articleTitle {
                float: right;
                font-size: 13px;
            }

            .paneBody ul li .date {
                font-family: 'nYekan';
                font-size: 12px;
                color: #5a88ca;
            }

.colorBar {
    border: 1px solid #eaeaea;
    border-left: 4px solid #5dc7cb;
    border-radius: 5px;
    /*border-bottom-left-radius: 5px;*/
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: white;
}

#productView #titr {
    font-size: 19px;
    font-weight: normal;
    margin: 10px 5px 10px 0px;
}

#productView .smallInfo {
    color: #ccc;
    font-size: 13px;
    margin: 5px;
}

#productView #bigImage {
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

#productView #smallImages {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 5px;
}

    #productView #smallImages li {
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        margin-top: 7px;
    }

        #productView #smallImages li img {
            width: 100px;
        }

#productView .priceTitr {
    margin-top: 20px;
    font-size: 15px;
}

#productView .bigPrice {
    color: #ffb424;
    font-size: 20px;
}

#productView .titrs {
    background-color: #f5f6f7;
    padding: 10px 10px;
    margin-top: 5px;
}

    #productView .titrs h1 {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        font-family: nYekan;
    }

    #productView .titrs h2 {
        margin: 0px;
        font-size: 15px;
        padding: 0px;
        color: #646464;
        margin-top: 10px;
    }

#productView #smallDesc {
    margin-top: 10px;
    margin-bottom: 6px;
}

#productView #featuresTable {
    width: 100%;
}

    #productView #featuresTable tr {
    }

        #productView #featuresTable tr td:first-child {
            background-color: #eaeaea;
        }

#searchPage .bigTitr {
    background-color: #666666;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: -7px;
}

#searchPage .searchFilters {
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    font-family: "nYekan";
}

#searchPage #productList {
    margin: 0px -5px;
}

    #searchPage #productList .productBox {
        border: 1px solid #eaeaea;
        border-radius: 4px;
        margin: 0 -8px;
        margin-bottom: 15px;
    }

        #searchPage #productList .productBox .bottomPart {
            padding: 5px;
        }

        #searchPage #productList .productBox .pTitr {
            font-size: 13px;
            color: #666666;
            font-family: 'nYekan';
            height: 36px;
            overflow: hidden;
        }

        #searchPage #productList .productBox .price {
            color: #ffb424;
        }

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    font: bold 16px;
    margin-top: 80px;
    padding: 55px 50px;
    text-align: right;
    width: 100%;
}

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    .footer-distributed .footer-left {
        width: 25%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font-size: 36px;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #5383d3;
        }

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            color: inherit;
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            border-radius: 50%;
            color: #ffffff;
            font-size: 25px;
            height: 38px;
            line-height: 42px;
            margin: 10px 15px;
            text-align: center;
            vertical-align: middle;
            width: 38px;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            color: #ffffff;
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-size: 14px;
                font-weight: normal;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
            }

    .footer-distributed .footer-right {
        width: 35%;
    }

    .footer-distributed .footer-company-about {
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        line-height: 20px;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            color: #ffffff;
            display: block;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            background-color: #33383b;
            border-radius: 2px;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            height: 35px;
            line-height: 35px;
            margin-bottom: 5px;
            margin-left: 3px;
            text-align: center;
            width: 35px;
        }

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px;
    }

        .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
            display: block;
            margin-bottom: 40px;
            text-align: center;
            width: 100%;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}

.blockRow.userPanelDiv {
    text-align: center;
    padding: 20px 0;
}

#bascketBtn {
    position: relative;
    cursor: pointer;
}

    #bascketBtn #downIcon {
        left: 5px;
        position: absolute;
        top: 22px;
    }


    #bascketBtn #bascketDiv {
        display: block;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 222px;
        z-index: 999;
        display: none;
        color: black;
        background-color: white;
        margin-top: 2px;
        border-left: 1px solid #eaeaea;
        border-radius: 5px;
        border-top: 1px solid #eaeaea;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

        #bascketBtn #bascketDiv ul {
            padding: 0px;
            margin: 0px;
        }

            #bascketBtn #bascketDiv ul li {
                margin-top: 2px;
                margin-bottom: 2px;
                border-bottom: 1px solid #eaeaea;
                width: 100%;
                padding: 4px;
            }

                #bascketBtn #bascketDiv ul li img {
                    float: right;
                    width: 50px;
                    height: 50px;
                }

a.pay {
    color: #fff;
    background-color: #5d8acb;
    border-color: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    font-size: 11px;
    padding: 0 10px;
    line-height: 25px;
    border-width: thin;
    border-style: solid;
    display: inline-block;
    text-decoration: none;
}
/*-------------------------- shopping-cart---------------------------------------*/
.shopping-cart-summary {
    width: 100%;
    margin: 20px 0;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

    .shopping-cart-summary tr {
        border: none;
        border-collapse: collapse;
        border-bottom: 1px solid #CCC;
    }

    .shopping-cart-summary thead tr {
        background-color: #7ED321;
    }

    .shopping-cart-summary th {
        height: 23px;
        line-height: 43px;
        padding: 5px;
        text-align: right;
        font-size: 16px;
        color: #030303;
        font-family: yekan;
    }

    .shopping-cart-summary td {
        height: 23px;
        line-height: 43px;
        padding: 5px;
        text-align: right;
        font-family: Byekan;
        font-size: 16px;
        color: #030303;
    }

    .shopping-cart-summary thead th {
        color: #FFF;
    }

    .shopping-cart-summary input[type=number] {
        width: 50px !important;
    }

    .shopping-cart-summary .total td {
        font-size: 16px;
        font-weight: 700;
        color: #000;
    }

#productView #combs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    #productView #combs ul li {
        float: right;
        margin-left: 7px;
        background-color: #4da30b;
        font-size: 12px;
        cursor: pointer;
        border-radius: 5px;
    }

        #productView #combs ul li a {
            display: inline-block;
            padding: 5px 10px;
            color: white;
            text-decoration: none;
        }

        #productView #combs ul li.selected {
            border: 1px solid black;
        }

#productView #combs p {
    margin-top: 10px;
    margin-bottom: 2px;
}

.loadingDiv {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 129, 129,0.5);
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 40vh;
}

#faktorPage {
    border: 1px solid black;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
}

    #faktorPage #faktorHead {
        height: 100px;
        border-bottom: 1px solid black;
        padding: 5px 10px;
    }

    #faktorPage #faktorBody {
        border-bottom: 1px solid;
    }

    #faktorPage #faktorFooter {
    }

    #faktorPage #faktorBody thead {
        border-bottom: 1px solid;
        background-color: #eee;
    }

    #faktorPage #faktorBody tr td {
        padding: 8px;
    }


#newsAllList ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

    #newsAllList ul li {
        margin-bottom: 10px;
    }

        #newsAllList ul li .smallArticleImage {
            float: right;
            margin-left: 7px;
        }

            #newsAllList ul li .smallArticleImage img {
                border-radius: 5px;
                height: 60px;
                width: 90px;
            }

        #newsAllList ul li .articleTitle {
            float: right;
            font-size: 13px;
        }

        #newsAllList ul li .date {
            color: #5a88ca;
            font-family: "nYekan";
            font-size: 12px;
        }

.attr-table {
    width: 100%;
    font-size: 12px;
        border-collapse: separate;
    border-spacing: 8px;
   
}

    .attr-table tbody tr {
    }

    .attr-table tr td {
        vertical-align: middle;
        background-color: rgba(242, 250, 253, 0.51);
        border-radius: 1px;
        padding: 10px;
    }

        .attr-table tr td:first-child {
            background-color: rgba(230, 247, 255, 0.71);
            text-align: left;
            border-radius: 3px;
            width:25%;
        }
