﻿@model RavadGarWebSite.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/resources/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/resources/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/resources/css/menu.css" rel="stylesheet" />
    <link href="~/resources/css/styles.css" rel="stylesheet" />

    <script src="~/resources/js/jquery-2.1.4.min.js"></script>
    <script src="~/resources/js/jquery.cookie.js"></script>
    <script src="~/resources/js/bootstrap.min.js"></script>
    <script src="~/resources/js/scripts.js"></script>
    <link href="~/resources/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container-fluid" id="productView">
        <div class="blockRow">
            <div class="row">
                <div class="imageBox col-sm-5">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul id="smallImages">
                                @foreach (var item in Model.ProductImages)
                            {
                                <li>
                                    <a class="fancyBox" rel="gallery1" href="/Productimages/images/@item.ImageLink">
                                        <img class="bigImage img-responsive" alt=@Model.PFName title=@Model.PFName src="/Productimages/ThumbNail/@item.ImageLink" />
                                    </a>
                                </li>
                            }
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <img id="bigImage" src="~/productimages/Images/@Model.Image" class="img-responsive" data-tumbImage="/Productimages/ThumbNail/@Model.Image" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-7 texts">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="titrs">
                                <h1 id="pName">@Model.PFName</h1>
                                <h2>@Model.PEName</h2>
                            </div>
                            @if (Model.ProductCombinations != null && Model.ProductCombinations.Count != 0)
                        {
                            <div id="combs">
                                <p>@Model.ProductCombinations.First().CombinationName</p>
                                <ul>
                                    @foreach (var item in Model.ProductCombinations)
                                    {
                                <li data-price="@item.CombinationPrice" data-combid="@item.Id">
                                    <a>@item.CombinationValue</a>

                                </li>
                                    }
                                </ul>
                                <div style="clear:both"></div>
                            </div>
                        }
                            <div id="smallDesc">
                                <p>توضیحات مختصر:</p>
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="priceTitr">قیمت:</p>
                            <p class="bigPrice price" data-price="@Model.Price">@Model.Price  تومان</p>

                            @if (Model.Number !=0)
                            {
                                <p class="priceTitr" style="display:inline-block;margin-top:0px;">تعداد:</p>
                                <input type="number" id="buyNumber" value="1" style="width:40px;" />
                            <a id="addToCart" href="#">
                                <img class="buyButton img-responsive" data-pcode="@Model.PCode" src="~/resources/images/Add-to-Cart.jpg" />
                            </a>
                            }
                            else
                            {
                                <p>موجود نیست</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div role="dialog" class="modal fade" id="messageModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                </div>
                <div id="popopMainDv2" class="modal-body">
                    <p style="text-align:center;" id="messageBody">
                    </p>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">بستن پنجره</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
