﻿@model IEnumerable<RavadGarWebSite.Models.Product>



<ul class="product_list">
    @foreach (var item in Model)
    {

        <li>
            <div class="productRadiusedBorder">
                <a href="~/product/@item.PCode/@item.PFName.Replace(' ','-')">
                    <div class="topPart">
                        @if (item.Image != null)
                        {

                            <img alt="@item.PFName" src="~/productimages/ThumbNail/@item.Image" />
                        }
                        else
                        {
                            <img src="~/resources/images/racket.jpg" />

                        }

                    </div>
                    <div class="bottomPart">
                        <p class="name">@item.PFName</p>
                        <p class="price">@Convert.ToDecimal(item.Price).ToString("#,##") &nbsp;تومان</p>
                        <div class="bottons">
                            <a  class="button-radius btn-add-cart fancyBox" title="اضافه به سبد خرید" href="~/product/frameView/@item.PCode/">خرید<span class="icon"></span></a>
                            <a class="viewMore" title="»شاهده جزئیا" href="~/product/@item.PCode/@item.PFName">جزئیات<span class="more"></span></a>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    }
</ul>
