﻿@model RavadGarWebSite.Models.Product

@{
    Layout = "~/Views/shared/_homeLayout.cshtml";
    ViewBag.Title = Model.PFName;
}
@section Styles {
    <link href="@Url.Content("~/resources/js/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
}


<script src="~/resources/js/fancybox/jquery.fancybox.pack.js"></script>

<div class="container" id="productView">
    @if (Model != null)
    {
        <div class="blockRow">
            <div class="row">
                <div class="imageBox col-md-5">
                    <div class="row">
                        <div class="col-md-3">
                            <ul id="smallImages">
                                @foreach (var item in Model.ProductImages)
                                {
                                <li>
                                    <a class="fancyBox" rel="gallery1" href="/Productimages/images/@item.ImageLink">
                                        <img class="bigImage img-responsive" alt=@Model.PFName title=@Model.PFName src="/Productimages/ThumbNail/@item.ImageLink" />
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <img id="bigImage" src="~/productimages/Images/@Model.Image" class="img-responsive" alt="@Model.PFName" data-tumbImage="/Productimages/ThumbNail/@Model.Image" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 texts">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="titrs">
                                <h1 id="pName">@Model.PFName</h1>
                                <h2>@Model.PEName</h2>
                            </div>
                            @if (Model.ProductCombinations !=null && Model.ProductCombinations.Count != 0)
                            {
                                <div id="combs">
                                    <p>@Model.ProductCombinations.First().CombinationName</p>
                                    <ul>
                                        @foreach (var item in Model.ProductCombinations)
                                        {
                                            <li data-price="@item.CombinationPrice" data-combid="@item.Id">
                                                <a>@item.CombinationValue</a>
                                               
                                            </li>
                                        }
                                    </ul>
                                    <div style="clear:both"></div>
                                </div>
                            }
                            <div id="smallDesc">
                                <p>توضیحات مختصر:</p>
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="priceTitr">قیمت:</p>
                            <p class="bigPrice price" data-price="@Model.Price">@Convert.ToDecimal(Model.Price).ToString("#,##")  تومان</p>
                            
                            @if (Model.Number !=0)
                            {
                                <p class="priceTitr" style="display:inline-block;margin-top:0px;">تعداد:</p>
                                <input type="number" id="buyNumber" value="1" style="width:40px;" />
                            <a id="addToCart" href="#">
                                <img class="buyButton img-responsive" data-pcode="@Model.PCode" src="~/resources/images/Add-to-Cart.jpg" />
                            </a>
                            }
                            else
                            {
                                <p>موجود نیست</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blockRow" id="discBlock">
            <div class="row">
                <div class="col-md-12">
                    <p class="titr">معرفی اجمالی کالا:</p>
                    <div class="disc">
                        @Html.Raw(@Model.FullDescription)
                    </div>
                </div>
            </div>

        </div>
        <div class="blockRow" id="discBlock">
            <div class="row">
                <div class="col-md-12">
                    <p class="titr">ویژگی ها:</p>
                    <div class="disc">
                        <table cellspacing="8" class="attr-table">
                            @foreach (var features in Model.ProductFeatures)
                            {
                                <tr>
                                    <td>@features.FeatureFName</td>
                                    <td>@features.FeatureValue</td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        /* This is basic - uses default settings */

        $("a.fancyBox").fancybox();

        /* Using custom settings */

        $("a.inline").fancybox({
            'hideOnContentClick': true
        });

        /* Apply fancybox to multiple items */

        $("a.group").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false,
            'titleShow': true,
            'titlePosition': 'outside',
            'arrows': true,
            'mouseWheel': false

        });

    });
</script>
