﻿<div class="row">
    <div class="col-md-12" style="padding-top:10px;padding-bottom:10px;">
        <form class="form-horizontal" id="filterForm" role="form">
            <div class="form-group">
                <label class="control-label col-sm-4">جنسیت:</label>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" value="مردانه" name="جنسیت">مردانه</label>
                    <label class="radio-inline"><input type="radio" value="زنانه" name="جنسیت">زنانه</label>
                    <label class="radio-inline"><input type="radio" value="هردو" name="جنسیت">هردو</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">سطح بازی:</label>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" value="مبتدی" name="سطح بازی">مبتدی</label>
                    <label class="radio-inline"><input type="radio" value="متوسط" name="سطح بازی">متوسط</label>
                    <label class="radio-inline"><input type="radio" value="حرفه ای" name="سطح بازی">حرفه ای</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">استراتژی بازی:</label>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" value="حمله ای" name="استراتژی بازی">حمله ای</label>
                    <label class="radio-inline"><input type="radio" value="کنترلی" name="استراتژی بازی">کنترلی</label>
                    <label class="radio-inline"><input type="radio" value="all" name="استراتژی بازی">همه</label>
                </div>
            </div>
            <div class="col-sm-offset-4 col-sm-8">
                <a href="/search/6" id="filterBtn" class="btn btn-primary">جستجو</a>
            </div>
        </form>
    </div>
</div>
<script>
    function buildFilterString() {
        var str = "";
        $("#filterForm input:checked").each(function () {
            if (str!="") {
                str += "&";
            }
            str += $(this).attr("name") + "=" + $(this).val();
        });
        return str;
    }
    $(document).ready(function () {
        var filter;
        $("#filterForm input").click(function () {
            filter = buildFilterString();
            $("#filterBtn").attr("href", "/search/6#" + filter);
        });
        $("#filterBtn").click(function () {
            filter = buildFilterString();
            $("#filterBtn").attr("href", "/search/6#" + filter);
        });
    })
</script>