﻿
@{
    ViewBag.Title = "address";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/resources/css/mgwvalidator.css")" rel="stylesheet" type="text/css" />
}
<script src="~/resources/js/mgwvalidator.js"></script>
<script>

    $(document).on("click", "#submitBtn", function () {
        if (!$("#register").validation()) {
            return false;
        }
        else {
            var obj = funjs_getFormObject("register");
            var result = funjs_sendObjectToServer("/user/AddressEdit", obj);
            try {
                if (result.result == "Successful") {
                    showMessage("تغییر آدرس با موفقیت انجام شد");
                }
            } catch (e) {

            }
        }
    });
    $(document).on("click", "#nextBtn", function () {
        if (!$("#register").validation()) {
            return false;
        }
        else {
            var obj = funjs_getFormObject("register");
            showLoadingOn("body");
            var result = funjs_sendObjectToServer("/user/AddressEdit", obj);
            hideLoadingOn("body");
        }
    });
    $(document).ready(function () {
        isRtl = true;
        validateOnBlur("#register");

    });
   
</script>
<div class="container">
    <div class="blockRow">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <h4 style="text-align:center;">ویرایش آدرس</h4>
                <br />
                <form class="form-horizontal" id="register" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">استان:</label>
                        <div class="col-sm-10">
                            <input type="text" id="state" name="State" data-mgwvalidator="required" class="form-control" value="@Model.State" placeholder="استان خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">شهر:</label>
                        <div class="col-sm-10">
                            <input type="text" id="city" name="City" data-mgwvalidator="required" class="form-control" value="@Model.City" placeholder="شهر خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">آدرس:</label>
                        <div class="col-sm-10">
                            <input type="text" id="Address" name="Address" data-mgwvalidator="required" class="form-control" value="@Model.Address" placeholder="آدرس خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">کد پستی:</label>
                        <div class="col-sm-10">
                            <input type="text" tabindex="PostalCode" name="PostalCode" data-mgwvalidator="required" class="form-control" value="@Model.PostalCode" placeholder="کد پستی خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">موبایل:</label>
                        <div class="col-sm-10">
                            <input type="text" id="Mobile" name="Mobile" class="form-control" data-mgwvalidator="required" value="@Model.Mobile" placeholder="موبایل خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">تلفن :</label>
                        <div class="col-sm-10">
                            <input type="text" id="Tel" name="Tel" data-mgwvalidator="required" class="form-control" value="@Model.Tel" placeholder="تلفن خود را وارد کنید">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="submitBtn" class="btn btn-primary">ثبت </button>
                            <a id="nextBtn" href="/ShoppingCart/FactorPeymant/?factorId=@ViewBag.FatorId" class="btn btn-success pull-left">مرحله بعد</a>
                            
                            <a href="/ShoppingCart/Index" class="btn btn-default pull-left" style="margin-left:10px;">بازگشت</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
