﻿@model RavadGarWebSite.Models.ViewModels.FactorViewModel
@{
    ViewBag.Title = "FactorPeymant";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}
<div class="container">
    <div id="faktorPage">
        <div id="faktorHead">
            <p style="text-align:center;margin-top:10px;">فاکتور فروش فروشگاه روادگر</p>
            <table style="width:100%">
                <tr>
                    <td>
                        خریدار:
                        <span id="customerName"></span>
                    </td>
                    <td style="text-align:left">
                        شماره فاکتور:
                        <span id="buyDate">@Model.FactorId</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        وضعیت:
                        @if (Model.PaymentState.ToString() == "Payed")
                        {
                            <span>پرداخت شده</span>
                        }
                        else
                        {
                            <span>پرداخت نشده</span>
                        }
                        </td>
                        <td style="text-align:left">
                            تاریخ:
                            <span id="buyDate">@Model.SubmitDateTime</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="faktorBody">
                <table style="width:100%;">
                    <thead>
                        <tr>
                            <td style="width:50px;">ردیف</td>
                            <td>شرح کالا</td>
                            <td>نوع</td>
                            <td>فی</td>
                            <td>تعداد</td>
                            <td>قیمت</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                        }

                        @foreach (var item in Model.Orders)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.ProductName</td>
                                <td>@item.CombinationValue</td>
                                <td>@item.Price</td>
                                <td>@item.Number</td>
                                <td>@(item.Price * item.Number)</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2" style="border-top:1px solid black;">هزینه حمل و نقل</td>
                            <td colspan="4" style="border-top:1px solid black;">
                                هزینه پیک در تهران و tbox  برای شهرستان ها بر عهده خریدار می باشد
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="border-top:1px solid black;background-color:#e2e2e2"> مجموع</td>
                            <td style="border-top:1px solid black;background-color:#e2e2e2">@Model.Amount</td>
                        </tr>
                    </tbody>
                </table>
                @if (Model.PaymentState.ToString() != "Payed")
                {
                    <a id="submitFactor" style="margin-top:10px;" href="http://ravadgar.com/ShoppingCart/GoToBank/?factorId=@Model.FactorId" class="btn btn-primary pull-left">  تایید و پرداخت الکترونیک  </a>

                }


            </div>

        </div>
    </div>


