﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_homeLayout.cshtml";
}

<div class="container">
    <div class="blockRow">
        <div class="row">
            <div class="col-lg-12" style="padding:5px 30px;">
                <p>سبد خرید شما:</p>
                <table class="shopping-cart-summary" id="table">
                    <thead>
                        <tr>
                            <th width="1">
                            </th>
                            <th width="1">
                            </th>
                            <th>
                                محصول
                            </th>
                            <th>
                                عنوان
                            </th>
                            <th>
                                تعداد
                            </th>
                            <th>
                                ترکیب
                            </th>
                            <th>
                                قیمت واحد
                            </th>
                            <th>
                                قیمت کل
                            </th>
                            <th>


                            </th>
                            <th>


                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <a id="submitFactor" class="btn btn-primary pull-left">خرید خود را نهایی کنید</a>
                <br /><br />
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var bascketObj = readBascket();
        console.log(bascketObj);
        for (var i = 0; i < bascketObj.length; i++) {
            $("#table tbody").append
                (
                  '<tr data-price="' + bascketObj[i]["price"] + '" data-pid="' + bascketObj[i]["pCode"] + '" data-comb="' + bascketObj[i]["comId"] + '" data-number="' + bascketObj[i]["count"] + '"  class="clickableCell">' +
                            '<td width="1">' +
                                '<input type="hidden" id="productid" value="3065">' +
                            '</td>' +
                            '<td width="1">' +
                                '<input type="hidden" id="detailid" value="5217">' +
                            '</td>' +
                            '<td>' +
                            '<img src="' + bascketObj[i]["image"] + '" width="150" height="150">' +
                            '</td>' +
                            '<td>' +
                             bascketObj[i]["pName"] +
                            '</td>' +
                            '<td>' +
                                '<input class="count" type="number" min="0" value="' + bascketObj[i]["count"] + '">' +
                            '</td>' +
                             '<td>' +
                               ((bascketObj[i]["combName"]!=null)?bascketObj[i]["combName"]:"") +
                            '</td>' +
                            '<td>' +
                               bascketObj[i]["price"] +
                            '</td>' +
                            '<td class="summary">' +
                               bascketObj[i]["price"] * bascketObj[i]["count"] +
                            '</td>' +
                            '<td>' +
                            '</td>' +
                            '<td> <a style="color: #D2322D;cursor:pointer" class=" removeRow k-button k-button-icontext k-grid-Delete"><i class="fa fa-trash"></i></a></td></tr>'
             );
        }

    });
    $(document).on("click", "#submitFactor", function () {
        var obj = [];
        $("#table tbody tr").each(function () {
            var temp =
            {
                "ProductId": $(this).attr("data-pid"),
                "CombinationId": $(this).attr("data-comb"),
                "Number": $(this).attr("data-number"),
            }
            obj.push(temp);
        });
        showLoadingOn("body");
        var result = funjs_sendObjectToServer("/ShoppingCart/Order", obj);
        hideLoadingOn("body");
        if (result.result == "NoLogin") {
            window.location.href = "/login/login";
        }
        else if (result.result.length > 30) {
            alert(result.result);
        }
        else if (result != null) {
            window.location.href = "/ShoppingCart/address";
        }
    })
    $(document).on("input", ".count", function () {
        $(this).parent().parent().attr("data-number", $(this).val());
        $(this).parent().parent().find(".summary").html($(this).parent().parent().attr("data-price") * $(this).val());
    });


    $(document).on("click", ".removeRow", function () {
        removeFromBascket($(this).parent().parent().attr("data-pid"));
        $(this).parent().parent().remove();
        loadBascketFromCookie();
    });
</script>